{extend name="layout"/}
{block name="title"}
<title>修改用户  - 用户和权限 - 系统设置 - 客户管理系统</title>
{/block}

{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">修改用户</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item">系统设置</li>
        <li class="breadcrumb-item">用户和权限</li>
        <li class="breadcrumb-item"><a href="{:url('index/system/member')}">用户管理</a></li>
        <li class="breadcrumb-item active">修改用户</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <!--<div class="card-header">-->
                <!--<h4 class="m-b-0 text-white">修改用户</h4>-->
            <!--</div>-->
            <div class="card-body">
                <form action="{:url('index/user/save_user')}?mid={$mid}" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <input type="hidden" name="uid" value="{$user.uid}">
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>用户姓名</label>
                                    <input type="text" id="names" name="chinese_name" class="form-control" value="{$user.chinese_name}" required>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>英文名</label>
                                    <input type="text" id="engnames" name="english_name"class="form-control" value="{$user.english_name}" required>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group has-success">
                                    <label class="control-label"><span class="text-danger"> * </span>性别</label>
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            {if condition="$user.sex eq 0"/}
                                            <input id="radio1" name="sex" type="radio" value="0" checked class="custom-control-input" required>
                                            {else/}
                                            <input id="radio1" name="sex" type="radio" value="0"  class="custom-control-input" required>
                                            {/if}
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">男</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            {if condition="$user.sex eq 1"/}
                                            <input id="radio2" name="sex" type="radio" value="1" checked class="custom-control-input" required>
                                            {else/}
                                            <input id="radio2" name="sex" type="radio" value="1" class="custom-control-input" required>
                                            {/if}
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">女</span>
                                        </label>
                                    </div>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <!--/span-->

                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>所在部门</label>
                                    <select class="form-control custom-select" id="department" name="department_id"  required>
                                        {volist name="departments" id="department"/}
                                        {if condition="$department.id eq $user.department_id"/}
                                        <option value="{$department.id}" selected >{$department.department_name}</option>
                                        {else/}
                                        <option value="{$department.id}">{$department.department_name}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"></small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>岗位名称</label>
                                    <select class="form-control custom-select" id="post" name="post_id"  required>
                                    </select>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">地址</label>
                                    <input type="text" id="address" name="address" class="form-control" value="{$user.address}" >
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>手机号码</label>
                                    <input type="text" id="phone" name="mobile" class="form-control" value="{$user.mobile}" required>
                                    <small class="form-control-feedback text-danger"></small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">微信</label>
                                    <input type="text" id="wachet" name="wechat" class="form-control" value="{$user.wechat}">
                                    <small class="form-control-feedback text-danger"></small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>电子邮箱</label>
                                    <input type="email" id="email" name="email" class="form-control" value="{$user.email}" required>
                                    <small class="form-control-feedback text-danger"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">QQ</label>
                                    <input type="text" id="qq" name="qq" class="form-control" value="{$user.qq}" >
                                    <small class="form-control-feedback text-danger"></small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label ">密码</label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="如不更改不用填写" >
                                    <small class="form-control-feedback text-danger"></small>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label ">确认密码</label>
                                    <input type="password" id="password_conform" name="password" class="form-control" placeholder="如不更改不用填写" >
                                    <small class="form-control-feedback text-danger"></small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">用户头像</label>
                                    <label class="control-label d-block">
                                        <img src="{$user.heard_img}" alt="" width="200">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="custom-file d-block">
                                        <input type="file"  class="custom-file-input" name="heard_img" >
                                        <span class="custom-file-control">点击上传图片</span>
                                    </label>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">简介</label>
                                    <textarea  name="introduction" class="form-control" rows="6" placeholder="个人简介">{$user.introduction}</textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->

                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> 保存</button>
                        <button type="reset" class="btn btn-inverse">重置</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var department_id = $("#department").val();
    $.ajax({
        url: "{:url('index/system/ajax_get_post')}",
        data: {'department_id':department_id},
        method:"get",
        success:function(data){
            //写入到对应位置
            var option_html = "";
            $.each(data,function(i,v){
                option_html+="<option value='"+v.id+"'>"+v.post_name+"</option>"
            })
            $("#post").html(option_html);
            //默认选中
            var post_default = "{$user.post_id}";
            $("#post").val(post_default);
        },
        dataType: "json"
    });


    $("#department").change(function () {
        var department_id = $(this).val();
        $.ajax({
            url: "{:url('index/system/ajax_get_post')}",
            data: {'department_id':department_id},
            method:"get",
            success:function(data){
                //写入到对应位置
                var option_html = "";
                $.each(data,function(i,v){
                    option_html+="<option value='"+v.id+"'>"+v.post_name+"</option>"
                })
                $("#post").html(option_html);
            },
            dataType: "json"
        });

    });
</script>

<script>
    var uid = "{$user.uid}";
    var mobile_result;
    var email_result;
    var pwd_result;
    $("form").submit(function () {
        if(mobile_result){
            layer.alert("手机号其他用户已使用");
            return false;
        }
        if(email_result){
                layer.alert("邮箱其他用户已使用");
                return false;
         }
       if(pwd_result){
                    layer.alert("两次密码不一致");
                    return false;
         }

    });



    $("input[name=mobile]").bind('input propertychange',function(){

        ajax_check_mobile($("input[name=mobile]"));

    });


    $("input[name=email]").bind('input propertychange',function(){

        ajax_check_email($("input[name=email]"));

    });


    $("#password_conform").bind('input propertychange',function () {
        check_pwd();
    });


    function ajax_check_mobile(mobile_obj) {

        var mobile = mobile_obj.val();
        $.ajax({
            url: "{:url('index/system/check_user_mobile')}",
            data: {mobile:mobile,uid:uid},
            method:"get",
            success:function(data){

                if(data==1){
                  //  layer.alert("手机号"+mobile+"其他用户已使用");
                    mobile_obj.parent().find('.form-control-feedback').text("手机号"+mobile+"其他用户已使用");
                    mobile_result = 1;
                }
                else{
                    mobile_obj.parent().find('.form-control-feedback').text(" ");
                    mobile_result = 0;
                }
            },
            dataType: "json"
        });
    }

    function ajax_check_email(email_obj) {

        var email = email_obj.val();
        $.ajax({
            url: "{:url('index/system/check_user_email')}",
            data: {email:email,uid:uid},
            method:"get",
            success:function(data){
                //写入到对应位置
                if(data==1){

                   // layer.alert("邮箱"+email+"其他用户已使用");
                    email_obj.parent().find('.form-control-feedback').text("邮箱"+email+"其他用户已使用");
                    email_result = 1;
                }
                else{
                    email_obj.parent().find('.form-control-feedback').text(" ");
                    email_result = 0;
                }
            },
            dataType: "json"
        });
    }

    function  check_pwd() {

        var  pwd1 = $("#password").val();
        var  pwd2 = $("#password_conform").val();

        if(pwd1 != pwd2){
           // layer.alert("两次密码不一致");
            $("#password_conform").parent().find('.form-control-feedback').text("两次密码不一致");
            pwd_result = 1;
        }
        else{
            $("#password_conform").parent().find('.form-control-feedback').text(" ");
            pwd_result = 0;
        }
    }




</script>

{/block}