{extend name="layout"/}
{block name="title"}
<title>组织架构管理 - 用户和权限 - 系统设置 - 客户管理系</title>
{/block}

{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">工作台</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item">系统设置</li>
        <li class="breadcrumb-item">用户和权限</li>
        <li class="breadcrumb-item active">组织架构管理</li>
    </ol>
</div>
{/block}

{block name="detail"/}
<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">部门管理</h4>
                <h6 class="card-subtitle"></h6>
                <div class="m-t-40">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="form-group">
                                {if condition="$add_operate"/}
                                <a id="demo-btn-addrow" class="btn btn-primary btn-sm" href="javascript:void(0)"><i class="icon wb-plus" aria-hidden="true"></i>添加部门</a>
                                {else/}
                                <button  class="btn btn-primary btn-sm"  onclick="alert('你没有权限！')"><i class="icon wb-plus" aria-hidden="true"></i>添加部门</button>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{:url('index/system/save_department')}?mid={$mid}" method="post">
                    <table id="demo-foo-addrow2" class="table table-bordered table-hover toggle-circle" >
                        <thead>
                        <tr class="text-align">
                            <th>部门名称</th>
                            <th class="w-25">排序</th>
                            <th class="w-25">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if condition="$data['departments']" /}
                        {volist name="data['departments']" id="department" }
                        {if condition="$department.id eq $data['department_id']"/}
                        <tr style="background-color:#26c6da;">
                            {else/}
                        <tr>
                            {/if}
                            <input type="hidden" name="depart_id[]" value="{$department.id}">
                            <td><input type="text" id="department_name" name="department_name[]" class="form-control" value="{$department.department_name}" required></td>
                            <td><input type="text" id="listorder" name="listorder[]" class="form-control" value="{$department.sort}" required></td>
                            <td>
                                {if condition="$delete_operate"/}
                                <a  onclick="delete_sure('删除部门会一起删除部门下所有岗位信息，确定要删除吗？', '{:url(\'index/system/department_del\')}?id={$department.id}&mid={$mid}')"  href="javascript:void(0);" class="btn btn-sm btn-icon btn-pure btn-outline " data-toggle="tooltip"  data-original-title="删除"><i class="ti-close" aria-hidden="true"></i></a>
                                {else/}
                                <button type="button"  class="btn btn-sm btn-icon btn-pure btn-outline" onclick="alert('你没有权限！');" data-toggle="tooltip"  data-original-title="删除"><i class="ti-close" aria-hidden="true"></i></button>
                                {/if}
                                <a href="{:url('index/system/organization')}?id={$department.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline manage_post" data-toggle="tooltip" data-original-title="岗位管理"><i class="ti-settings" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {/volist}
                        {else/}{/if}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="14">
                                <div class="text-right">
                                    {if condition="$update_operate"/}
                                    <button type="submit" class="btn btn-sm btn-success">保存修改</button></li>
                                    {else/}
                                    <button type="button" class="btn btn-sm btn-success" onclick="alert('你没有权限！');">保存修改</button></li>
                                    {/if}
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">岗位管理</h4>
                <h6 class="card-subtitle"></h6>
                <div class="m-t-40">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="form-group">
                                {if condition="$add_operate"/}
                                <a id="demo-btn-addrow-department" class="btn btn-primary btn-sm" href="javascript:void()"><i class="icon wb-plus" aria-hidden="true"></i>添加岗位</a>
                                {else/}
                                <button type="button" class="btn btn-primary btn-sm" onclick="alert('你没有权限!')"><i class="icon wb-plus" aria-hidden="true"></i>添加岗位</button>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
                <form  action="{:url('index/system/save_post')}?mid={$mid}" method="post">
                    <input type="hidden" name="post_department_id" value="{$data['department_id']}">
                    <table id="demo-foo-addrow-department" class="table table-bordered table-hover toggle-circle" >
                        <thead>
                        <tr class="text-align">
                            <th>岗位名称</th>
                            <th>排序</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if condition="$data['posts']" /}
                        {volist name="data['posts']" id="post" }
                        <tr>
                            <input type="hidden" name="post_id[]" value="{$post.id}" class="post_id">
                            <td style="padding-left:<?php echo $post['count'];?>px"><input type="text" id="department_name" name="department_name[]" class="form-control"  value="{$post.post_name}"></td>
                            <td><input type="text" id="listorder" name="listorder[]" class="form-control" value="{$post.sort}"></td>
                            <td>
                                {if condition="$delete_operate"/}
                                <a onclick="delete_sure('删除岗位会一起删除岗位下属信息，确定要删除吗？', '{:url(\'index/system/post_del\')}?id={$post.id}&depart_id={$data[\'department_id\']}&mid={$mid}')"  href="javascript:void(0);" class="btn btn-sm btn-icon btn-pure btn-outline " data-toggle="tooltip" data-original-title="删除"><i class="ti-close" aria-hidden="true"></i></a>
                                {else/}
                                <button type="button" onclick="alert('你没有权限!')"  class="btn btn-sm btn-icon btn-pure btn-outline " data-toggle="tooltip" data-original-title="删除"><i class="ti-close" aria-hidden="true"></i></button>
                                {/if}
                                {if condition="$add_operate"/}
                                <button type="button"  class="btn btn-sm btn-icon btn-pure btn-outline "  onclick="send_pid('{$post.id}','{$data[\'department_id\']}')" data-toggle="modal" data-target="#add-post" ><i class="ti-plus" data-original-title="添加子岗位" data-toggle="tooltip" aria-hidden="true"></i></button>
                                {else/}
                                <button type="button"  class="btn btn-sm btn-icon btn-pure btn-outline "  onclick="alert('你没有权限！')"  ><i class="ti-plus" data-original-title="添加子岗位" data-toggle="tooltip" aria-hidden="true"></i></button>
                                {/if}
                                <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline"  onclick="send_post('{$post.id}')" data-toggle="modal" data-target="#add-contact"><i class="ti-settings" data-original-title="授权" data-toggle="tooltip" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        {/volist}
                        {else/}{/if}

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="14">
                                <div class="text-right">
                                    {if condition="$update_operate"/}
                                    <button type="submit" class="btn btn-sm btn-success">保存修改</button></li>
                                    {else/}
                                    <button type="button" class="btn btn-sm btn-success" onclick="alert('你没有权限！')">保存修改</button></li>
                                    {/if}
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>


                <div id="add-contact" class="modal fade in show " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                    <div class=" modal-dialog modal-lg col-10">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">岗位授权</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <form action="{:url('index/post_permission/save_permission')}" method="post">
                                    <div class="form-group has-success">
                                        <div class="form-check">
                                            <label class="custom-control custom-checkbox">
                                                <input id="check_all"  type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">全部选择</span>
                                            </label>
                                        </div>
                                    </div>
                                    <input type="hidden" name="post_id" id="post_pid">
                                    <table  class="table table-bordered table-hover toggle-circle">
                                        <thead>
                                        <tr class="text-align">
                                            <th>菜单</th>
                                            <th>增加</th>
                                            <th>删除</th>
                                            <th>修改</th>
                                            <th>查看</th>
                                            <th>范围</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name="organization_menus" id="organization_menu"}
                                        <tr>
                                            <input type="hidden" name="menu_id[]" value="{$organization_menu.id}" class="menu_id">
                                            <td style="padding-left:<?php echo $organization_menu['count'];?>px;"><span style="margin-left:10px;"></span>{$organization_menu.title}</td>
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input  type="checkbox" name="pre_add[{$organization_menu.id}]"  class="custom-control-input table_name add_{$organization_menu.id}" >
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input  type="checkbox" name="pre_delete[{$organization_menu.id}]"  class="custom-control-input table_name delete_{$organization_menu.id}" >
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input  type="checkbox" name="pre_update[{$organization_menu.id}]"  class="custom-control-input table_name update_{$organization_menu.id}" >
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input  type="checkbox" name="pre_des[{$organization_menu.id}]" class="custom-control-input table_name des_{$organization_menu.id}" >
                                                    <span class="custom-control-indicator"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <select class="form-control custom-select select_name range_{$organization_menu.id}" name="permission_range[{$organization_menu.id}]" tabindex="1">
                                                    {volist name="permission_range" id="range"/}
                                                    <option value="{$range}">{$range}</option>
                                                    {/volist}

                                                </select>
                                            </td>
                                        </tr>
                                        {/volist}

                                    </table>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info waves-effect ">保存</button>
                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                                </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <script>
                        $("#check_all").change(function () {
                            if($(this).is(':checked')){
                                $(".table_name").each(function () {
                                    $(this).prop('checked', 'checked');
                                });
                            }
                            else{
                                $(".table_name").each(function () {
                                    $(this).prop('checked', false);
                                });
                            }
                        });
                    </script>

                </div>





                <div id="add-post" class="modal fade in show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                    <div class="modal-dialog col-10">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">添加子岗位</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <form action="{:url('index/system/save_post')}?mid={$mid}" method="post">
                                    <div class="card">
                                        <div class="card-body p-b-0">
                                            <input type="hidden" name="post_pid" id="child_post_pid">
                                            <input type="hidden" name="post_department_id" id="child_post_department_id">
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="home2" role="tabpanel" aria-expanded="true">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">子岗位名称</label>
                                                            <input type="text" name="department_name[]" class="form-control" placeholder="" >
                                                            <small class="form-control-feedback"> </small>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group has-danger">
                                                            <label class="control-label">排序</label>
                                                            <input type="text" name="listorder[]" class="form-control" placeholder="">
                                                            <small class="form-control-feedback"></small>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info waves-effect" >保存</button>
                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function send_pid(pid,depart_id) {
        $("#child_post_pid").val(pid);
        $("#child_post_department_id").val(depart_id);
    }
</script>
<script>
    //岗位权限
    function send_post(pid) {
        $("#post_pid").val(pid);
        $("#check_all").prop('checked', false);
        //获取岗位的所有权限
        $.ajax({
            url:"{:url('index/post_permission/ajax_get_post_permission')}",
            data:{pid:pid},
            method:'post',
            success:function(data){
                if(data == 0){
                    $(".table_name").each(function () {
                        $(this).prop('checked', false);
                    });
                    $(".select_name").each(function () {
                        $(this).attr("tabindex",1);
                    });
                }
                else{
                    $(".table_name").each(function () {
                        $(this).prop('checked', false);
                    });
                    $.each(data,function (i,v) {
                        var mid = v.mid;
                        var add_name = "add_"+mid ;
                        var delete_name = "delete_"+mid ;
                        var pre_update = "update_"+mid;
                        var pre_des = "des_"+mid ;
                        var permission_range = "range_"+mid;

                        if(v.add_operate == 1){
                            $("."+add_name+" ").prop("checked","checked");
                        }
                        else{
                            $("."+add_name+" ").prop("checked",false);
                        }

                        if(v.delete_operate == 1){
                            $("."+delete_name+" ").prop("checked","checked");
                        }
                        else{
                            $("."+delete_name+" ").prop("checked",false);
                        }

                        if(v.update_operate == 1){
                            $("."+pre_update+" ").prop("checked","checked");
                        }
                        else{
                            $("."+pre_update+" ").prop("checked",false);
                        }

                        if(v.desc_operate == 1){
                            $("."+pre_des+" ").prop("checked","checked");
                        }
                        else{
                            $("."+pre_des+" ").prop("checked",false);
                        }

                        if(v.permission_range){
                            $("."+permission_range+" ").val(v.permission_range);
                        }


                    })
                }

            },
            dataType:'json'
        });
    }

</script>






{/block}