<div class="row p-t-20">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label"><span class="text-danger"> * </span>联系人</label>
            <input type="text"  class="form-control" value="{$lead.contact_name}" name="contact_name" required>
            <small class="form-control-feedback"> </small> </div>
    </div>
    <!--/span-->
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">职位</label>
            <input type="text"  class="form-control" value="{$lead.position}" name="position" >
            <small class="form-control-feedback"> </small> </div>
    </div>
    <!--/span-->
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">性别</label>
            <div class="form-check">
                <label class="custom-control custom-radio">
                    {if condition="$lead.sex eq 0"}
                    <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="男" checked>
                    {else/}
                    <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="男" >
                    {/if}
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">男</span>
                </label>
                <label class="custom-control custom-radio">
                    {if condition="$lead.sex eq 1"}
                    <input id="radio2" name="radio_sex" type="radio" class="custom-control-input" value="女" checked>
                    {else/}
                    <input id="radio2" name="radio_sex" type="radio" class="custom-control-input" value="女">
                    {/if}
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">女</span>
                </label>
            </div>
            <small class="form-control-feedback"> </small> </div>
    </div>
    <!--/span-->
</div>
<div class="row p-t-20">
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">电话</label>
            <input type="text"  class="form-control" value="{$lead.mobile}" name="contact_mobile" >
            <small class="form-control-feedback"> </small> </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">邮箱</label>
            <input type="email"  class="form-control" value="{$lead.email}" name="contact_email">
            <small class="form-control-feedback"> </small> </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">QQ</label>
            <input type="text"  class="form-control" value="{$lead.qq}" name="contact_qq">
            <small class="form-control-feedback"> </small> </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">微信</label>
            <input type="text"  class="form-control" value="{$lead.wechat}" name="contact_wechat">
            <small class="form-control-feedback"> </small> </div>
    </div>
    <!--/span-->
</div>