{extend name="layout"/}
{block name="title"}
<title>工作台 - 客户管理系统</title>
{/block}
{block name="css"}

<style type="text/css">
    .cls_container{width:100%;height:24px;overflow:hidden;}
    .cls_container ul{list-style-type:none;margin:0;padding:0;margin-left:32px;}
</style>
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">工作台</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item active">工作台</li>
    </ol>
</div>
{/block}
{block name="detail"/}

<div style="background-color: white;margin-bottom: 20px;padding: 20px;">
    {include file="index/scroll_announcement"/}
</div>


{include file="index/calendar"/}



{volist name="customer_status" id="status"/}
    <input type="hidden" name="{$status['key']}" value="{$status['value']}" class="{$status['field']}" id="{$status['key']}">
{/volist}


<div class="row">
    <!-- Column -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="visitor1" style="height:650px; width:100%;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="visitor2" style="height:650px; width:100%;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="visitor3" style="height:650px; width:100%;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="visitor4" style="height:650px; width:100%;"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div id="visitor5" style="height:650px; width:100%;"></div>
            </div>
        </div>
    </div>
</div>

{include file="user/profile_common"/}

{/block}

{block name="footer_js"/}

<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<script src="__STATIC__/js/echart_data.js?t=2"></script>
<!-- Calendar JavaScript -->
<script src="__STATIC__/assets/plugins/calendar/jquery-ui.min.js"></script>
<script src="__STATIC__/assets/plugins/moment/moment.js"></script>
<script src='__STATIC__/assets/plugins/calendar/dist/fullcalendar.min.js'></script>
<script src="__STATIC__/assets/plugins/calendar/dist/cal-init.js?t=3"></script>
<script>
    $('.show_task').click(function(){
        $('.today').removeClass('today');
        $(this).parents('td').addClass('today');
        var time = $(this).attr('id');
        $(".content_item").hide();
        $("."+time+"").show();
    });
</script>
{/block}