
{extend name="layout"/}
{block name="title"}
<title>系统日志 - 系统管理 - 客户管理系统</title>
{/block}

{block name="breadcrumb"/}
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">系统日志</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
            <li class="breadcrumb-item">系统设置</li>
            <li class="breadcrumb-item active">系统日志</li>
        </ol>
    </div>
{/block}
{block name="detail"/}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!--<h4 class="card-title">系统日志</h4>-->
                            <div class="form-actions" style="margin-bottom: 15px;">
                                <button type="button" class="btn  btn-info " onclick="delete_logs(7);"> <i class=" ace-icon fa fa-close "></i> 删除7天之前日志</button>
                                <button type="button" class="btn  btn-danger " onclick="delete_logs(30)"> <i class=" ace-icon fa fa-close"></i> 删除30天之前日志</button>
                            </div>
                            <table  class="table table-bordered table-hover toggle-circle" >
                                <thead>
                                <tr class="text-align">
                                    <th  data-toggle="true"  data-hide="phone, tablet">序号</th>
                                    <th data-hide="phone">模块</th>
                                    <th>动作</th>
                                    <th>内容</th>
                                    <th data-hide="phone">IP</th>
                                    <th data-hide="phone, tablet">时间</th>
                                    <th>操作员</th>
                                    <th data-hide="phone, tablet">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="logs" id="log" key="k"/}
                                <tr>
                                    <td>{$k}</td>
                                    <td>{$log.model}</td>
                                    <td>
                                        {if condition="$log.type eq 1"/}
                                            增加
                                        {elseif condition="$log.type eq 2"/}
                                            删除
                                        {elseif condition="$log.type eq 3"/}
                                             修改
                                        {elseif condition="$log.type eq 4"/}
                                            数据库备份
                                        {elseif condition="$log.type eq 5"/}
                                            数据库还原
                                        {elseif condition="$log.type eq 6"/}
                                            删除备份文件
                                        {elseif condition="$log.type eq 7"/}
                                            删除回收站
                                        {elseif condition="$log.type eq 8"/}
                                            还原回收站
                                        {elseif condition="$log.type eq 9"/}
                                            线索转化
                                        {else/}
                                        {/if}
                                    </td>
                                    <td>{$log.title}</td>
                                    <td>{$log.ip}</td>
                                    <td>{$log.create_time}</td>
                                    <td>{$log.chinese_name}</td>
                                    <td>
                                        <a href="{:url('index/logs/log_des')}?id={$log.id}" class="btn btn-sm btn-icon btn-pure btn-outline"  title="查看详情"><i class="ti-search" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="14">
                                        <div class="text-right">
                                            <div id="tp_paginate">
                                                {$logs->render()}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

<script>
    function delete_logs(day) {
        layer.confirm("确定要删除"+day+"天之前日志吗？",function () {
            ajax_delete_log(day);
        });
    }

    function ajax_delete_log(day) {
        $.ajax({
            url:"{:url('index/logs/ajax_delete_logs')}?mid={$mid}",
            method:"get",
            data:{day:day},
            success:function (data) {
                if(data){
                    layer.alert(data);
                }else {
                    parent.window.location.href = parent.window.location.href;
                }

            },
            dataType:"json"
        })
    }
</script>
{/block}