{extend name="layout"/}
{block name="title"}
<title>主题列表 - 客户管理系统</title>
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">主题列表</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item active">主题列表</li>
    </ol>
</div>
{/block}

{block name="detail"/}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!--<h4 class="card-title">主题列表</h4>-->
                <h6 class="card-subtitle"></h6>
                <div class="m-t-40">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="form-group">
                                <button type="button"  class="btn btn-primary btn-sm "  data-toggle="modal" data-target="#add_theme" ><i class="ti-plus" aria-hidden="true"></i>添加主题</button>
                                <a  class="btn btn-info btn-sm " href="{:url('index/question/question')}?mid={$mid}">
                                    <i class="ace-icon fa fa-file-word-o" aria-hidden="true"></i> 题目管理
                                </a>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <div class="form-group">
                                <form  method="post" id="find_form">
                                    <input id="demo-input-search2" type="text" placeholder="搜索主题"  autocomplete="off" required>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <table id="demo-foo-addrow2" class="table table-bordered table-hover toggle-circle" data-page-size="20">
                    <thead>
                    <tr class="text-align">
                        <th>序号</th>
                        <th>类型</th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="themes" id="theme" key="k"}
                    <tr>
                        <td>{$k}</td>
                        <td>{$theme['theme']['theme_type']}</td>
                        <td>{$theme['theme']['theme_name']}</td>

                        <td>
                            <a href="javascript:void (0);" onclick="delete_sure('确定要删除此项目吗？','{:url(\'index/theme/theme_del\')}?id={$theme[\'theme\'][\'id\']}&mid={$mid}')" class="btn btn-danger btn-sm" title="删除"><i class="ti-close" aria-hidden="true"></i></a>
                            <a href="{:url('index/theme/theme_edit')}?id={$theme['theme']['id']}&mid={$mid}" class="btn btn-primary btn-sm" title="修改"><i class="ti-pencil" aria-hidden="true"></i></a>
                            <button type="button"  class="btn btn-info btn-sm"  onclick="describe_send_tid('{$theme[\'theme\'][\'id\']}','{$theme[\'theme\'][\'theme_name\']}')" data-toggle="modal" data-target="#add_theme_describe" ><i class="ti-plus" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    {if condition="count($theme['describes']) gt 0"/}
                    <tr class="theme_describe">
                        <td>主题内容:</td>
                        <td colspan="3">
                        {volist name="theme['describes']" id="describe" key="i"}
                            <p class="row">
                                <span style="width: 20%;">
                                  {$i} 、 【 行号：{$describe.describe_sort} 】
                                </span>
                                <span style="width: 60%">
                                    【 内容：{$describe.theme_describe} 】
                                </span>
                                <span>
                                    <a href="javascript:void (0);" onclick="delete_sure('确定要删除吗？','{:url(\'index/theme/theme_describe_del\')}?id={$describe.id}&mid={$mid}')"  title="删除"><i class="ti-close" aria-hidden="true"></i></a>
                                </span>
                            </p>
                        {/volist}
                        </td>
                    </tr>
                    {/if}
                    {/volist}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="14">
                            <div class="text-right">
                                <ul class="pagination">
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            {include file="theme/theme_add"/}
            {include file="theme/theme_describe_add"/}
        </div>

    </div>
</div>
{/block}
