{extend name="layout"/}
{block name="title"/}
<title>商机详情 - 客户管理系统</title>
{/block}
{block name="css"/}

{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">商机详情</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item active">商机详情</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">商机详情</h4>
            </div>
            <div class="card-body">
                <form >
                    <div class="form-body">
                        <h3 class="card-title">主要信息</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>负责人</label>
                                    <input type="text"  class="form-control user_name"  value="{$opportunity.chinese_name}"  disabled autocomplete="off">
                                </div>
                            </div>

                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>客户全称</label>
                                    <input type="text"  class="form-control customer_name" value="{$opportunity.customer_name}"  disabled autocomplete="off">

                                </div>
                            </div>
                        </div>

                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>商机名</label>
                                    <input type="text"  class="form-control" name="opportunity_name" value="{$opportunity.opportunity_name}"  disabled>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">商机金额</label>
                                    <input type="text"  class="form-control check_content_num" name="money" value="{$opportunity.money}" disabled >
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">预计成本</label>
                                    <input type="text"  class="form-control check_content_num" name="plan_money" value="{$opportunity.plan_money}"  disabled>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">赢单率</label>
                                    <div class="input-group">
                                        <input type="text"  class="form-control check_content_num" name="gain_rate" value="{$opportunity.gain_rate}" disabled >
                                        <span class="input-group-addon">%</span>
                                    </div>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">来源</label>
                                    <select class="form-control"  tabindex="1" name="opportunity_from" disabled>
                                        <option value="">{$opportunity.opportunity_from}</option>
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">类型</label>
                                    <select class="form-control"  tabindex="1" name="type" disabled>
                                        <option value="">{$opportunity.type}</option>
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">状态</label>
                                    <select class="form-control"  tabindex="1" name="status" disabled>
                                        <option value="">{$opportunity.status}</option>
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">下次联系时间</label>
                                    <input type="date"  class="form-control" value="{$opportunity.contact_time}" name="contact_time" disabled>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">下次联系内容</label>
                                    <textarea  rows="6" class="form-control" value="{$opportunity.contact_content}" name="contact_content" disabled></textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                        </div>

                        <h3 class="card-title">附加信息</h3>
                        <hr>
                        <div class="row">
                            <!--/span-->
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">备注</label>
                                    <textarea  rows="6" class="form-control" placeholder="请填写备注" name="note" disabled>{$opportunity.note}</textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                        </div>
                        <h3 class="card-title">相关产品</h3>
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">产品名称</label>
                                    <input type="text"  class="form-control product_name" value="{$opportunity.product_name}" disabled  autocomplete="off">
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{/block}
