{extend name="layout"/}
{block name="title"}
<title>商机列表 - 客户管理系统</title>
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">商机列表</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item active">商机列表</li>
    </ol>
</div>
{/block}

{block name="detail"/}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!--<h4 class="card-title">商机列表</h4>-->
                <h6 class="card-subtitle"></h6>
                <div class="m-t-40">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="form-group">
                                <a  class="btn btn-primary btn-sm" href="{:url('index/opportunity/opportunity_add')}?mid={$mid}">
                                    <i class="ace-icon fa fa-plus" aria-hidden="true"></i> 添加商机
                                </a>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <div class="form-group">
                                <form  method="post" id="find_form">

                                    <input id="demo-input-search2" type="text" placeholder="搜索商机" name="customer_name" autocomplete="off" required>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <table id="demo-foo-addrow2" class="table table-bordered table-hover toggle-circle" data-page-size="20">
                    <thead>
                    <tr class="text-align">
                        <th>序号</th>
                        <th>商机名</th>
                        <th>客户名</th>
                        <th>商机金额</th>
                        <th>产品名称</th>
                        <th>下次联系时间</th>
                        <th>负责人</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="opportunities" id="opportunity" key="k"}
                    <tr>
                        <td>{$k}</td>
                        <td>{$opportunity.opportunity_name}</td>
                        <td>{$opportunity.customer_name}</td>
                        <td>{$opportunity.money}</td>
                        <td>{$opportunity.product_name}</td>
                        <td>{$opportunity.contact_time}</td>
                        <td>{$opportunity.chinese_name}</td>
                        <td>{$opportunity.create_name}</td>
                        <td>{$opportunity.create_time|date="Y-m-d H:i:s",###}</td>
                        <td>
                            <a href="javascript:void (0);" onclick="delete_sure('确定要删除此项目吗？','{:url(\'index/opportunity/opportunity_del\')}?id={$opportunity.id}&mid={$mid}')" class="btn btn-sm btn-icon btn-pure btn-outline " title="删除"><i class="ti-close" aria-hidden="true"></i></a>
                            <a href="{:url('index/opportunity/opportunity_edit')}?id={$opportunity.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="修改"><i class="ti-pencil" aria-hidden="true"></i></a>
                            <a href="{:url('index/opportunity/opportunity_des')}?id={$opportunity.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="查看详情"><i class="ti-search" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="14">
                            <div class="text-right">
                                <ul class="pagination">
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>
{/block}
