{extend name="layout"/}
{block name="title"}
    <title>项目列表 - 客户管理系统</title>
{/block}
{block name="breadcrumb"/}
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">工作台</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">项目列表</li>
        </ol>
    </div>
{/block}

{block name="detail"/}
    <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">项目列表</h4>
                            <h6 class="card-subtitle"></h6>
                            <div class="m-t-40">
                                <div class="d-flex">
                                    <div class="mr-auto">
                                        <div class="form-group">
                                            <a  class="btn btn-primary btn-sm" href="{:url('index/project/project_add')}?mid={$mid}">
                                                <i class="ace-icon fa fa-plus" aria-hidden="true"></i> 添加项目
                                            </a>
                                            <a  class="btn btn-info btn-sm" href="{:url('index/project/project_recycle')}?mid={$mid}">
                                                <i class="ace-icon fa fa-recycle" aria-hidden="true"></i> 项目回收站
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="form-group">
                                            <form  method="post" id="find_form">

                                                <input id="demo-input-search2" type="text" placeholder="搜索项目" name="customer_name" autocomplete="off" required>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="demo-foo-addrow2" class="table table-bordered table-hover toggle-circle" data-page-size="10">
                                <thead>
                                <tr class="text-align">

                                    <th>编号</th>

                                    <th>项目信息</th>
                                    <th>客户信息</th>
                                    <th>合同</th>
                                    <th>进度(天)</th>
                                    <th>创建者</th>
                                    <th>最后更新</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="projects" id="project" key="k"}
                                <tr>

                                    <td>P{$project.create_time|date="Ymd",###}-{$project.id}</td>
                                    <td>
                                        <p><b>项目名称</b>：<small>{$project.project_name}</small></p>
                                        <p><b>所属部门</b>：<small>{$project.department_name}</small></p>
                                        <p><b>需求产品</b>：<small>{$project.product_demand_1}</small></p>
                                    </td>
                                    <td>
                                        <!--<p><b>客户名称</b>：<small>{$project.customer_name}</small></p>-->
                                        <p><b>客户类别</b>：<small>{$project.customer_status_1}</small></p>
                                        <p><b>客户状态</b>：<small>{$project.customer_status_2}</small></p>
                                    </td>

                                    <td>
                                        <p><b>合同状态</b>：<small>{$project.contract_status}</small></p>
                                        <p><b>回款模式</b>：<small>{$project.payment_type}</small></p>
                                        <p><b>回款状态</b>：<small>{$project.payment_status}</small></p>
                                    </td>


                                   <?php if($project['project_start'] && $project['project_end']){ ?>
                                    <td>
                                        <p>预计：<small>
                                        <?php
                                         $num1=number_format((strtotime($project['project_end'])-strtotime($project['project_start']))/86400,1);
                                         echo $num1= $num1 >0 ?$num1 :0;

                                        ?></small>
                                        </p>
                                        <p><b>消耗</b>：<small>
                                        <?php
                                        $num2=number_format((time()-strtotime($project['project_start']))/86400,1);
                                        echo $num2= $num2 >0 ?$num2 :0;

                                        ?></small>
                                        </p>
                                    <p><b>剩余</b>：<small>
                                        <?php
                                        $num3 =number_format((strtotime($project['project_end'])-time())/86400,1);
                                        echo   $num2 >0?$num3:$num1;
                                        ?></small>
                                    </p>
                                        <p>
                                        <?php
                                        $width = $num1 >0? number_format(($num2/$num1)*100,2):0;
                                        ?>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: <?php echo $width; ?>%;"></div><?php echo $width; ?>%
                                        </div>
                                        </p>
                                    </td>
                                    <?php }else{?>
                                    <td></td>
                                    <?php }?>
                                    <td>{$project.c_name}</td>
                                    <td>{$project.c_name}</td>
                                    <td>
                                        <a href="javascript:void (0);" onclick="delete_sure('确定要删除此项目吗？','{:url(\'index/project/project_del\')}?id={$project.id}&mid={$mid}')" class="btn btn-sm btn-icon btn-pure btn-outline " title="删除"><i class="ti-close" aria-hidden="true"></i></a>
                                        <a href="{:url('index/project/project_edit')}?id={$project.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="修改"><i class="ti-pencil" aria-hidden="true"></i></a>
                                        <a href="{:url('index/project/project_des')}?id={$project.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="查看详情"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="{:url('index/task/task_add')}?id={$project.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="添加任务"><i class="ti-plus" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="14">
                                        <div class="text-right">
                                            <ul class="pagination">
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
 {/block}
