{extend name="layout"/}
{block name="title"}
    <title>项目列表 - 客户管理系统</title>
{/block}
{block name="css"}
    <style>
        .pagination ul{display:none;}
    </style>
{/block}
{block name="breadcrumb"/}
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">项目列表</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
            <li class="breadcrumb-item go_back">客户和项目</li>
            <li class="breadcrumb-item active">项目列表</li>
        </ol>
    </div>
{/block}

{block name="detail"/}
    <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <!--<h4 class="card-title">项目列表</h4>-->
                            <h6 class="card-subtitle"></h6>
                            <div class="m-t-40">
                                <div class="d-flex">
                                    <div class="mr-auto">
                                        <div class="form-group">
                                            <a  class="btn btn-primary btn-sm" href="{:url('index/project/project_add')}?mid={$mid}">
                                                <i class="ace-icon fa fa-plus" aria-hidden="true"></i> 添加项目
                                            </a>
                                            <a  class="btn btn-info btn-sm" href="{:url('index/project/project_recycle')}?mid={$mid}">
                                                <i class="ace-icon fa fa-recycle" aria-hidden="true"></i> 项目回收站
                                            </a>
                                            <a  class="btn btn-info btn-sm" href="{:url('index/task/task')}?mid={$mid}">
                                                <i class="ace-icon fa fa-file-word-o" aria-hidden="true"></i> 任务管理
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table id="demo-foo-row-toggler"  class="table toggle-circle table-hover" >
                                <thead>
                                <tr class="text-align">
                                   {include file="project/project_common_search"/}
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="projects" id="project" key="k"}
                                <tr>
                                    <td>{$project.number}</td>
                                    <td>{$project.project_name}</td>
                                    <td>{$project.contract_status}</td>
                                    <td>{$project.payment_status}</td>
                                   <?php if($project['project_start'] && $project['project_end']){ ?>
                                    <td>

                                        <?php
                                         $num1=number_format((strtotime($project['project_end'])-strtotime($project['project_start']))/86400,1);
                                         $num2=number_format((time()-strtotime($project['project_start']))/86400,1);
                                         $num3 =number_format((strtotime($project['project_end'])-time())/86400,1);
                                         $width = $num1 >0? number_format(($num2/$num1)*100,2):0;
                                         echo   $num2 >0?$num3:$num1;
                                        ?>
                                        <!--<div class="progress">-->
                                            <!--<div class="progress-bar" role="progressbar" style="width: <?php echo $width; ?>%;"></div><?php echo $width; ?>%-->
                                        <!--</div>-->
                                    </td>
                                    <?php }else{?>
                                    <td></td>
                                    <?php }?>
                                    <td>{$project.product_demand_1}</td>
                                    <td>
                                        {if condition="$project.update_time"/}
                                        {$project.update_time|date="Ymd H:i:s",###}
                                        {/if}
                                    </td>
                                    <td>
                                        <span><span class="text-primary">客户名称</span>：{$project.customer_name}</span>
                                        <span class="p-l-20"><span class="text-primary">所属部门</span>：{$project.department_name}</span>
                                        <span class="p-l-20"><span class="text-primary">客户类别</span>：{$project.customer_status_1}</span>
                                        <span class="p-l-20"><span class="text-primary">客户状态</span>：{$project.customer_status_2}</span>
                                        <span class="p-l-20"><span class="text-primary">回款模式</span>：{$project.payment_type}</span><br/>
                                        <span><span class="text-primary">创建者</span>：{$project.c_name}</span>
                                        <span class="p-l-20"><span class="text-primary">管理人</span>：{$project.m_name}</span>
                                        <span class="p-l-20"><span class="text-primary">执行者</span>：{$project.e_name}</span>
                                        <span class="p-l-20"><span class="text-primary">策划人</span>：{$project.p_name}</span>
                                        <span class="p-l-20"><span class="text-primary">对接人</span>：{$project.d_name}</span>
                                        <?php if($project['project_start'] && $project['project_end']){ ?>
                                        <span class="p-l-20"><span class="text-primary">预计</span>： <?php echo $num1= $num1 >0 ?$num1 :0; ?>（天）</span>
                                        <span class="p-l-20"><span class="text-primary">消耗</span>： <?php echo $num2= $num2 >0 ?$num2 :0; ?>（天）</span>
                                        <?php  }?>
                                    </td>
                                    <td>
                                        <a href="javascript:void (0);" onclick="delete_sure('确定要删除此项目吗？','{:url(\'index/project/project_del\')}?id={$project.id}&mid={$mid}')" class="btn btn-sm btn-icon btn-pure btn-outline " title="删除"><i class="ti-close" aria-hidden="true"></i></a>
                                        <a href="{:url('index/project/project_edit')}?id={$project.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="修改"><i class="ti-pencil" aria-hidden="true"></i></a>
                                        <a href="{:url('index/project/project_des')}?id={$project.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="查看详情"><i class="ti-search" aria-hidden="true"></i></a>
                                        <a href="{:url('index/task/task_add')}?id={$project.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="添加任务"><i class="ti-plus" aria-hidden="true"></i></a>
                                        <a href="{:url('index/task/project_task')}?id={$project.id}&n={$project.project_name}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline " title="项目任务"><i class="ti-file" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8">
                                            {$projects->render()}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
 {/block}
