<div style="border: 1px dashed grey;padding: 10px;margin-bottom: 40px;" >
    <form method="get">
        {if condition="isset($name)"/}<input type="hidden" name="name" value="{$name}">{/if}
        <div style="margin: 0 auto;">
            <div class="p-t-20" style="min-height: 120px;">
                <div style="width: 20%;margin-left: 2%;margin-right: 2%;float: left;" >
                    <p>合同状态：</p>
                    <select name="contract_status" class="form-control" >
                        <option value="">请选择</option>
                        {volist name="data['contract_status']" id="contract_status"/}
                        {if condition="isset($contractStatus) and $contract_status eq $contractStatus"/}
                        <option value="{$contract_status}" selected>{$contract_status}</option>
                        {else/}
                        <option value="{$contract_status}">{$contract_status}</option>
                        {/if}
                        {/volist}
                    </select>
                </div>
                <div style="width: 20%;margin-right: 2%;float: left;" >
                    <p>回款状态:</p>
                    <select name="payment_status" class="form-control" >
                        <option value="">请选择</option>
                        {volist name="data['payment_status']" id="payment_status"/}
                        {if condition="isset($paymentStatus) and $payment_status eq $paymentStatus"/}
                        <option value="{$payment_status}" selected>{$payment_status}</option>
                        {else/}
                        <option value="{$payment_status}">{$payment_status}</option>
                        {/if}
                        {/volist}
                    </select>
                </div>
                <div style="width: 20%;margin-right: 2%;float: left;" >
                    <p>产品需求：</p>
                    <select name="product_demand" class="form-control" >
                        <option value="">请选择</option>
                        {volist name="data['product_demand']" id="product_demand"/}
                        {if condition="isset($productDemand) and $product_demand eq $productDemand"/}
                        <option value="{$product_demand}" selected>{$product_demand}</option>
                        {else/}
                        <option value="{$product_demand}">{$product_demand}</option>
                        {/if}
                        {/volist}
                    </select>
                </div>
                <div style="width: 20%;margin-right: 2%;float: left;" >
                    <p> 其他</p>
                    <input type="text" placeholder="项目名称，客户名称" name="keyword" {if condition="isset($keyword)"/} value="{$keyword}" {/if} class="form-control" autocomplete="off" >
                </div>
                <div style="float: left;padding-top: 40px;" >
                    <input type="submit" value="搜索" class="btn btn-success ">
                </div>
            </div>
        </div>
    </form>
</div>
<th data-toggle="true">编号</th>
<th>项目名称</th>
<th>合同状态</th>
<th>回款状态</th>
<th>剩余天数</th>
<th>产品需求</th>
<th>最后更新</th>
<th data-hide="all"></th>
<th>操作</th>