{extend name="layout"/}
{block name="title"/}
<title>添加项目 - 客户管理系统</title>
{/block}
{block name="js"/}
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">工作台</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">首页</a></li>
        <li class="breadcrumb-item go_back"><a href="javascript:void(0)">项目管理</a></li>
        <li class="breadcrumb-item active">添加项目</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">添加项目</h4>
            </div>
            <div class="card-body">
                <form action="{:url('index/index/project/save_project')}" method="post">
                    <input type="hidden" name="customer_id" value="{$customer.id}">
                    <input type="hidden" name="contact_id" value="{$customer.contact_id}">
                    <input type="hidden" name="project_id" value="{$project.id}">
                    <div class="form-body">
                        <h3 class="card-title">客户信息</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">客户全称</label>
                                    <input type="text"  class="form-control" value="{$customer.customer_name}" name="customer_name" required >
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">客户行业</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" name="industry" required>
                                        {volist name="data['industry']" id= "vo"}
                                        {if condition="$vo eq $customer.industry"}
                                        <option value="{$vo}" selected>{$vo}</option>
                                        {else/}
                                        <option value="{$vo}">{$vo}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"></small> </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">公司性质</label>
                                    <div class="form-check">
                                        {volist name="data['company_nature']" id="company_nature" key="k"}
                                        <label class="custom-control custom-radio">
                                            {if condition="$company_nature eq $customer.company_nature"}
                                            <input id="radio{$k}" name="company_nature" value="{$company_nature}" type="radio" checked class="custom-control-input" >
                                            {else/}
                                            <input id="radio{$k}" name="company_nature" value="{$company_nature}" type="radio"  class="custom-control-input" >
                                            {/if}
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">{$company_nature}</span>
                                        </label>
                                        {/volist}
                                    </div>
                                    <small class="form-control-feedback"></small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">年营业额</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" name="annual_turnover" required>
                                        {volist name="data['annual_turnover']" id="annual_turnover" }
                                        {if condition="$annual_turnover eq $customer.annual_turnover"}
                                        <option value="{$annual_turnover}" selected>{$annual_turnover}</option>
                                        {else/}
                                        <option value="{$annual_turnover}">{$annual_turnover}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">客户状态一级</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" name="customer_status_1" required>
                                        {volist name="data['customer_status_1']" id="customer_status_1"}
                                        {if condition="$customer_status_1 eq $customer.customer_status_1"}
                                        <option value="{$customer_status_1}" selected>{$customer_status_1}</option>
                                        {else/}
                                        <option value="{$customer_status_1}">{$customer_status_1}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">客户状态二级</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" name="customer_status_2" required>
                                        {volist name="data['customer_status_2']" id="customer_status_2"}
                                        {if condition="$customer_status_2 eq $customer.customer_status_2"}
                                            <option value="{$customer_status_2}" selected>{$customer_status_2}</option>
                                        {else/}
                                        <option value="{$customer_status_2}">{$customer_status_2}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <h3 class="card-title">首要联系人信息</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">联系人</label>
                                    <input type="text"  class="form-control" value="{$customer.contact_name}" name="contact_name" required>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">职位</label>
                                    <input type="text"  class="form-control" value="{$customer.position}" name="position" required>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">性别</label>
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            {if condition="$customer.sex eq 0"}
                                            <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="男" checked>
                                            {else/}
                                            <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="男" >
                                            {/if}
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">男</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            {if condition="$customer.sex eq 1"}
                                            <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="女" checked>
                                            {else/}
                                            <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="女" >
                                            {/if}
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">女</span>
                                        </label>
                                    </div>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">电话</label>
                                    <input type="text"  class="form-control" value="{$customer.mobile}" name="contact_mobile" required>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">邮箱</label>
                                    <input type="text"  class="form-control" value="{$customer.email}" name="contact_email">
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">QQ</label>
                                    <input type="text"  class="form-control" value="{$customer.qq}" name="contact_qq">
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">备注</label>
                                    <textarea  rows="6" class="form-control" placeholder="请填写备注" name="note">{$customer.note}</textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>

                            <!--/span-->
                        </div>
                        <!--/row-->


                        <!--/row-->
                        <h3 class="box-title m-t-40">项目信息</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>项目所在部门</label>
                                    <select class="form-control custom-select department"  name="executor_department_id"  required>
                                        {volist name="departments" id="dep"}
                                        {if condition="$dep.id eq $project.e_d_id"/}
                                        <option value="{$dep.id}" selected>{$dep.department_name}</option>
                                        {else/}
                                        <option value="{$dep.id}">{$dep.department_name}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>项目执行人</label>
                                    <select class="form-control custom-select executor_department_id"   required name="executor_uid" >
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>策划部门</label>
                                    <select class="form-control custom-select department"   name="planning_department_id" required>
                                        {volist name="departments" id="dep"}
                                            {if condition="$dep.id eq $project.p_d_id"/}
                                                <option value="{$dep.id}" selected>{$dep.department_name}</option>
                                            {else/}
                                                 <option value="{$dep.id}">{$dep.department_name}</option>
                                            {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>策划人</label>
                                    <select class="form-control custom-select planning_department_id"   required name="planning_uid">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>对接部门</label>
                                    <select class="form-control custom-select department"   name="docking_department_id" required>
                                        {volist name="departments" id="dep"}
                                            {if condition="$dep.id eq $project.d_d_id"/}
                                            <option value="{$dep.id}" selected>{$dep.department_name}</option>
                                            {else/}
                                            <option value="{$dep.id}">{$dep.department_name}</option>
                                            {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>对接人</label>
                                    <select class="form-control custom-select docking_department_id"   required name="docking_uid">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>管理部门</label>
                                    <select class="form-control custom-select department"   required name="manage_department_id">
                                        {volist name="departments" id="dep"}
                                            {if condition="$dep.id eq $project.m_d_id"/}
                                                <option value="{$dep.id}" selected>{$dep.department_name}</option>
                                            {else/}
                                                 <option value="{$dep.id}">{$dep.department_name}</option>
                                            {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="form-group">
                                    <label>管理人</label>
                                    <select class="form-control custom-select manage_department_id"   name="manage_uid" required>
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>需求产品一级</label>
                                    <select class="form-control custom-select" name="product_demand_1" >
                                        {volist name="$data['product_demand']" id="product_demand" }
                                        {if condition="$product_demand eq $project.product_demand_1"/}
                                            <option value="{$product_demand}" selected>{$product_demand}</option>
                                        {else/}
                                            <option value="{$product_demand}">{$product_demand}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label>需求产品二级</label>
                                    <select class="form-control custom-select"  name="product_demand_2">
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <h3 class="box-title m-t-40">合同信息</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>合同状态</label>
                                    <select class="form-control custom-select" required name="contract_status">
                                        {volist name="data['contract_status']" id="contract_status"}
                                            {if condition="$contract_status eq $project.contract_status" /}
                                                <option value="{$contract_status}" selected>{$contract_status}</option>
                                            {else/}
                                                <option value="{$contract_status}" >{$contract_status}</option>
                                            {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>合同金额</label>
                                    <input type="text"  class="form-control" value="{$project.contract_amount}" required name="contract_amount" >
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>回款模式</label>
                                    <select class="form-control custom-select" required name="payment_type">
                                        {volist name="data['payment_type']" id="payment_type"}
                                            {if condition="$payment_type eq $project.payment_type"/}
                                                <option value="{$payment_type}" selected>{$payment_type}</option>
                                            {else/}
                                                <option value="{$payment_type}">{$payment_type}</option>
                                            {/if}

                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>回款状态</label>
                                    <select class="form-control custom-select" required name="payment_status">
                                        {volist name="data['payment_status']" id="payment_status"}
                                            {if condition="$payment_status eq $project.payment_status"/}
                                                <option value="{$payment_status}" selected>{$payment_status}</option>
                                            {else/}
                                                <option value="{$payment_status}">{$payment_status}</option>
                                            {/if}
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>毛利润率</label>
                                    <input type="text"  class="form-control" value="{$project.rate}" name="rate" required>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>成本支出</label>
                                    <input type="text"  class="form-control" value="{$project.cost}"  name="cost" required>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> 保存</button>
                            <button type="reset" class="btn btn-inverse">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    //部门和负责人
    $(".department").each(function () {
        var name = $(this).attr("name");
        var department_id = $(this).val();
        //获取department_id下所有用户
        $.ajax({
            url: "{:url('index/index/project/ajax_get_user')}",
            data: {'department_id':department_id},
            method:"get",
            success:function(data){
                //写入到对应位置
                var option_html = "";
                $.each(data,function(i,v){
                    option_html+="<option value='"+v.uid+"'>"+v.chinese_name+"</option>"
                })
                $('.'+ name +'').html(option_html);
                //默认选中
                var executor_uid = "{$project.executor_uid}";
                var planning_uid = "{$project.planning_uid}";
                var docking_uid = "{$project.docking_uid}";
                var manage_uid = "{$project.manage_uid}";
                if($('.'+ name +'').attr("name") == "executor_uid" ){
                    $('.'+ name +'').val(executor_uid);
                }
               if ($('.'+ name +'').attr("name") == "planning_uid"){
                   $('.'+ name +'').val(planning_uid);
                }
                if ($('.'+ name +'').attr("name") == "docking_uid"){
                    $('.'+ name +'').val(docking_uid);
                }
                if ($('.'+ name +'').attr("name") == "manage_uid"){
                    $('.'+ name +'').val(manage_uid);
                }
            },
            dataType: "json"
        });
    });

    $(".department").change(function () {
        var name = $(this).attr("name");
        var department_id = $(this).val();
        //获取department_id下所有用户
        $.ajax({
            url: "{:url('index/index/project/ajax_get_user')}",
            data: {'department_id':department_id},
            method:"get",
            success:function(data){
                //写入到对应位置
                var option_html = "";
                $.each(data,function(i,v){
                    option_html+="<option value='"+v.uid+"'>"+v.chinese_name+"</option>"
                })
                $('.'+ name +'').html(option_html);
            },
            dataType: "json"
        });

    });

    //产品需求二级
    var first_demand_1 =  $("select[name=product_demand_1]").val();
    $.ajax({
        url: "{:url('index/index/project/ajax_get_demand2')}",
        data: {'demand_value':first_demand_1},
        method:"get",
        success:function(data){
            //写入到对应位置
            var option_html = "";
            $.each(data,function(i,v){
                option_html+="<option value='"+v+"'>"+v+"</option>"
            })
            $("select[name=product_demand_2]").html(option_html);
            var demand_2 = "{$project.product_demand_2}";
            $("select[name=product_demand_2]").val(demand_2);
        },
        dataType: "json"
    });

    $("select[name=product_demand_1]").change(function(){
        var demand_value = $(this).val();
        $.ajax({
            url: "{:url('index/index/project/ajax_get_demand2')}",
            data: {'demand_value':demand_value},
            method:"get",
            success:function(data){
                //写入到对应位置
                var option_html = "";
                $.each(data,function(i,v){
                    option_html+="<option value='"+v+"'>"+v+"</option>"
                })
                $("select[name=product_demand_2]").html(option_html);
            },
            dataType: "json"
        });
    });
</script>
{/block}
