{extend name="layout"/}
{block name="title"/}
    <title>添加项目 - 客户管理系统</title>
{/block}
{block name="css"/}

{/block}
{block name="breadcrumb"/}
    <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">添加项目</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
                        <li class="breadcrumb-item go_back">客户和项目</li>
                        <li class="breadcrumb-item go_back"><a href="{:url('index/project/project_list')}">项目管理</a></li>
                        <li class="breadcrumb-item active">添加项目</li>
                    </ol>
                </div>
 {/block}
{block name="detail"/}
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <!--<div class="card-header">-->
                    <!--<h4 class="m-b-0 text-white">添加项目</h4>-->
                <!--</div>-->
                <div class="card-body">
                    <form action="{:url('index/project/save_project')}?mid={$mid}" method="post">
                        <div class="form-body">
                            <h3 class="card-title">客户信息</h3>
                            <hr>
                            <div class="row p-t-20">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label"><span class="text-danger"> * </span>客户全称</label>
                                        <input type="text"  class="form-control customer_name" placeholder="请填写公司名称"  required autocomplete="off">
                                        <input type="hidden"  class="form-control"  name="customer_id" required >
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                                <div class="col-md-12" id="customer_display" style="color: red;" >

                                </div>

                            </div>
                            <!--/row-->



                            <!--/row-->
                            <h3 class="box-title m-t-40">项目信息   <button type="button" class="btn btn-info customer_project_button"   >查看客户所有项目</button> </h3>
                            <div class="row p-t-20">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label"><span class="text-danger"> * </span>项目名称 </label>
                                        <input type="text"  class="form-control project_name" placeholder="请填写项目名称" name="project_name" required autocomplete="off">
                                        <small class="form-control-feedback" hidden> </small>
                                    </div>
                                </div>

                            </div>



                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">签约公司名称</label>
                                        <input type="text"  class="form-control" placeholder="签约公司名称" name="company_name">
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>项目所在部门</label>
                                        <select class="form-control custom-select department"  name="executor_department_id"  required>
                                            {volist name="departments" id="dep"}
                                                <option value="{$dep.id}">{$dep.department_name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>项目执行人</label>
                                        <select class="form-control custom-select executor_department_id"   required name="executor_uid" >
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>策划部门</label>
                                        <select class="form-control custom-select department"   name="planning_department_id">
                                            <option value="">请选择</option>
                                            {volist name="departments" id="dep"}
                                            <option value="{$dep.id}">{$dep.department_name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>策划人</label>
                                        <select class="form-control custom-select planning_department_id"  name="planning_uid">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>对接部门</label>
                                        <select class="form-control custom-select department"   name="docking_department_id" >
                                            <option value="">请选择</option>
                                            {volist name="departments" id="dep"}
                                            <option value="{$dep.id}">{$dep.department_name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>对接人</label>
                                        <select class="form-control custom-select docking_department_id"   name="docking_uid">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>管理部门</label>
                                        <select class="form-control custom-select department"   required name="manage_department_id">
                                            {volist name="departments" id="dep"}
                                            <option value="{$dep.id}">{$dep.department_name}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>管理人</label>
                                        <select class="form-control custom-select manage_department_id"   name="manage_uid" required>
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                            <div class="row">
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label>渠道</label>
                                        <select class="form-control custom-select"   name="channel" >
                                            <option value="">请选择</option>
                                            {volist name="$data['project_channel']" id="project_channel" }
                                            <option value="{$project_channel}">{$project_channel}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="form-group">
                                        <label class="control-label">渠道名称</label>
                                        <input type="text"  class="form-control" placeholder="渠道名称" name="channel_user">
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>需求产品一级</label>
                                        <select class="form-control custom-select" name="product_demand_1" >
                                            {volist name="$data['product_demand']" id="product_demand" }
                                            <option value="{$product_demand}">{$product_demand}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>需求产品二级</label>
                                        <select class="form-control custom-select"  name="product_demand_2">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>开始时间</label>
                                        <input type="date"  class="form-control" placeholder="开始时间" name="project_start">
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>结束时间</label>
                                        <input type="date"  class="form-control" placeholder="结束时间" name="project_end">
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>备注</label>
                                        <textarea type="text" rows="6" class="form-control" placeholder="请填写备注" name="project_note" ></textarea>
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                            </div>

                            <!--/row-->
                            <h3 class="box-title m-t-40">合同信息</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>合同状态</label>
                                        <select class="form-control custom-select" required name="contract_status">
                                            {volist name="data['contract_status']" id="contract_status"}
                                                <option value="{$contract_status}">{$contract_status}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>合同金额</label>
                                        <input type="text"  class="form-control check_content_num" placeholder="请输入合同金额" required name="contract_amount" >
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>回款模式</label>
                                        <select class="form-control custom-select" required name="payment_type">
                                            {volist name="data['payment_type']" id="payment_type"}
                                            <option value="{$payment_type}">{$payment_type}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row pay_type_money">
                                <!--/span-->
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>月回款金额</label>
                                        <input type="text"  class="form-control check_content_num" placeholder="请输入月回款金额" required name="month_money" >
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>

                                <!--/span-->
                            </div>



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>回款状态</label>
                                        <select class="form-control custom-select" required name="payment_status">
                                            {volist name="data['payment_status']" id="payment_status"}
                                            <option value="{$payment_status}">{$payment_status}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>毛利润率</label>
                                        <div class="input-group">
                                            <input type="text"  class="form-control check_content_num" placeholder="请填写毛利润率" name="rate" required>
                                            <span class="input-group-addon">%</span>
                                        </div>
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><span class="text-danger"> * </span>销售成本支出</label>
                                        <input type="text"  class="form-control check_content_num" placeholder="请填写销售成本支出" name="cost" required>
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>成本支出备注</label>
                                        <input type="text"  class="form-control" placeholder="请填写成本支出备注" name="cost_note" >
                                        <small class="form-control-feedback"> </small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> 保存</button>
                                <button type="reset" class="btn btn-inverse">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {include file="project/project_common_script"/}
 {/block}
