{extend name="layout"/}
{block name="title"/}
<title>消息详情 - 客户管理系统</title>
{/block}
{block name="css"/}

{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">消息详情</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item active">消息详情</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">消息详情</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    发信人：{$message.from_name}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    收信人：{$message.to_name}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    时间：{$message.create_time|date="Y-m-d H:i:s",###}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    标题：{$message.title}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    内容：{$message.content}
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
