{extend name="layout"/}
{block name="title"/}
<title>我要请假 - 客户管理系统</title>
{/block}
{block name="css"/}
<!--<link href="__STATIC__/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<link href="__STATIC__/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<!-- Page plugins css -->
<link href="__STATIC__/assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
<!-- Color picker plugins css -->
<link href="__STATIC__/assets/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="__STATIC__/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<!-- Daterange picker plugins css -->
<link href="__STATIC__/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="__STATIC__/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">我要请假</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item go_back">OA</li>
        <li class="breadcrumb-item go_back"><a href="{:url('index/leave/leave')}">我的请假</a></li>
        <li class="breadcrumb-item active">我要请假</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <!--<div class="card-header">-->
                <!--<h4 class="m-b-0 text-white">我要请假</h4>-->
            <!--</div>-->
            <div class="card-body">
                <form action="{:url('index/leave/save_leave')}?mid={$mid}" method="post">
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>类型</label>
                                    <select class="form-control"  tabindex="1" name="leave_type" required>
                                        <option value="">请选择</option>
                                        {volist name="leave_type" id= "type"}
                                        <option value="{$type}">{$type}</option>
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>开始时间</label>
                                    <!--<input type="text"  class="form-control" placeholder="请填写" name="leave_start" required>-->
                                    <input type="text" id="date-format" class="form-control" name="leave_start" placeholder="eg:2018-05-23 18:23:42" required>
                                    <!--<small class="form-control-feedback"> </small> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>结束时间</label>
                                    <!--<input type="text"  class="form-control" placeholder="请填写" name="leave_end" required>-->
                                    <input type="text" id="date-format1" class="form-control" name="leave_end" placeholder="eg:2018-05-23 18:23:42" required>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>请假天数</label>
                                    <input type="text"  class="form-control" placeholder="请填写" name="work_day" required>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>请假事由</label>
                                    <textarea  rows="6" class="form-control" placeholder="请填写备注" name="leave_reason" required></textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                        </div>
                            <h3>审批流程</h3>

                        <div class="row p-t-20">
                            {if condition="$leader_users"}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>上司审批</label>
                                    <select class="form-control"  tabindex="1" name="leader_uid" required>
                                        <option value="">请选择</option>
                                        {volist name="leader_users" id= "user"}
                                        <option value="{$user.uid}">{$user.chinese_name}</option>
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">高层审批</label>
                                    <select class="form-control"  tabindex="1" name="leader_uid2">
                                        <option value="">请选择</option>
                                        {volist name="leader_users2" id= "user2"}
                                        <option value="{$user2.uid}">{$user2.chinese_name}</option>
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback text-danger"> *普通员工请假3天以下的不用CEO批准</small>
                                </div>
                            </div>
                            {else/}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>高层审批</label>
                                    <select class="form-control"  tabindex="1" name="leader_uid2" required>
                                        <option value="">请选择</option>
                                        {volist name="leader_users2" id= "user2"}
                                        <option value="{$user2.uid}">{$user2.chinese_name}</option>
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            {/if}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>备案人事</label>
                                    <select class="form-control"  tabindex="1" name="personnel_uid" required>
                                        <option value="">请选择</option>
                                        {volist name="personnel_users" id= "personnel"}
                                        <option value="{$personnel.uid}">{$personnel.chinese_name}</option>
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                        </div>

                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> 保存</button>
                            <button type="reset" class="btn btn-inverse">重置</button>
                        </div>

                </form>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"/}
<script src="__STATIC__/assets/plugins/moment/moment.js"></script>
<script src="__STATIC__/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Clock Plugin JavaScript -->
<script src="__STATIC__/assets/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="__STATIC__/assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
<script src="__STATIC__/assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
<script src="__STATIC__/assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="__STATIC__/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Date range Plugin JavaScript -->
<script src="__STATIC__/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="__STATIC__/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script>
    // MAterial Date picker
    $('#mdate').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    $('#timepicker').bootstrapMaterialDatePicker({ format : 'HH:mm', time: true, date: false });
    //$('#date-format').bootstrapMaterialDatePicker({ format : 'dddd DD MMMM YYYY - HH:mm' });
    $('#date-format').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD HH:mm:ss' });
    $('#date-format1').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD HH:mm:ss' });

    $('#min-date').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', minDate : new Date() });
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
    }).find('input').change(function() {
        console.log(this.value);
    });
    $('#check-minutes').click(function(e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show').clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker
    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    // Daterange picker
    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'MM/DD/YYYY',
        minDate: '06/01/2015',
        maxDate: '06/30/2015',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });
</script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="__STATIC__/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

{/block}