{extend name="layout"/}
{block name="title"/}
<title>修改请假 - 客户管理系统</title>
{/block}
{block name="css"/}

{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">修改请假</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item active">修改请假</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">修改请假</h4>
            </div>
            <div class="card-body">
                <form action="{:url('index/leave/save_leave')}?mid={$mid}" method="post">
                    <input type="hidden" value="{$leave['id']}" name="leave_id">
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>类型</label>
                                    <select class="form-control"  tabindex="1" name="leave_type" required>
                                        <option value="">请选择</option>
                                        {volist name="leave_type" id= "type"}
                                        {if condition="$leave['leave_type'] eq $type"/}
                                            <option value="{$type}" selected>{$type}</option>
                                        {else/}
                                             <option value="{$type}">{$type}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>开始时间</label>
                                    <input type="text"  class="form-control" value="{$leave['leave_start']}" name="leave_start" required>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>结束时间</label>
                                    <input type="text"  class="form-control" value="{$leave['leave_end']}" name="leave_end" required>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>请假天数</label>
                                    <input type="text"  class="form-control" value="{$leave['work_day']}" name="work_day" required>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label"><span class="text-danger"> * </span>请假事由</label>
                                    <textarea  rows="6" class="form-control" placeholder="请填写备注" name="leave_reason" required>{$leave.leave_reason}</textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                        </div>
                        <h3>审批流程</h3>
                        <div class="row p-t-20">
                            {if condition="$leader_users"}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>审批上司</label>
                                    <select class="form-control"  tabindex="1" name="leader_uid" required>
                                        <option value="">请选择</option>
                                        {volist name="leader_users" id= "user"}
                                        {if condition="$leave['leader_uid'] eq $user.uid"/}
                                        <option value="{$user.uid}" selected>{$user.chinese_name}</option>
                                        {else/}
                                        <option value="{$user.uid}">{$user.chinese_name}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">高层审批</label>
                                    <select class="form-control"  tabindex="1" name="leader_uid2" >
                                        <option value="">请选择</option>
                                        {volist name="leader_users2" id= "user2"}
                                        {if condition="$leave['leader_uid2'] eq $user2.uid"/}
                                        <option value="{$user2.uid}" selected>{$user2.chinese_name}</option>
                                        {else/}
                                        <option value="{$user2.uid}">{$user2.chinese_name}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback text-danger"> *普通员工请假3天以下的不用CEO批准</small>
                                </div>
                            </div>
                            {else/}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>高层审批</label>
                                    <select class="form-control"  tabindex="1" name="leader_uid2" required>
                                        <option value="">请选择</option>
                                        {volist name="leader_users2" id= "user2"}
                                        {if condition="$leave['leader_uid2'] eq $user2.uid"/}
                                        <option value="{$user2.uid}" selected>{$user2.chinese_name}</option>
                                        {else/}
                                        <option value="{$user2.uid}">{$user2.chinese_name}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            {/if}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>备案人事</label>
                                    <select class="form-control"  tabindex="1" name="personnel_uid" required>
                                        <option value="">请选择</option>
                                        {volist name="personnel_users" id= "personnel"}
                                        {if condition="$leave['personnel_uid'] eq $personnel.uid"/}
                                        <option value="{$personnel.uid}" selected>{$personnel.chinese_name}</option>
                                        {else/}
                                        <option value="{$personnel.uid}">{$personnel.chinese_name}</option>
                                        {/if}
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> 保存</button>
                        <button type="reset" class="btn btn-inverse">重置</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{/block}
