{extend name="layout"/}
{block name="title"}
<title>任务列表 - 客户管理系统</title>
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">任务列表</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item active">任务列表</li>
    </ol>
</div>
{/block}

{block name="detail"/}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!--<h4 class="card-title">任务列表</h4>-->
                <h6 class="card-subtitle"></h6>
                <div class="m-t-40">
                    <div class="d-flex">
                        <div class="mr-auto">
                            <div class="form-group">
                                <a  class="btn btn-primary btn-sm" href="{:url('index/task/task_add')}?mid={$mid}">
                                    <i class="ace-icon fa fa-plus" aria-hidden="true"></i> 添加任务
                                </a>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <div class="form-group">
                                <form  method="post" id="find_form">

                                    <input id="demo-input-search2" type="text" placeholder="搜索任务" name="customer_name" autocomplete="off" required>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <table id="demo-foo-addrow2" class="table table-bordered table-hover toggle-circle" data-page-size="20">
                    <thead>
                    <tr class="text-align">
                        <th>序号</th>
                        <th>项目名</th>
                        <th>优先级</th>
                        <th>任务名</th>
                        <th>状态</th>
                        <th>创建者</th>
                        <th>指派给</th>
                        <th>总预计</th>
                        <th>总消耗</th>
                        <th>总剩余</th>
                        <th>时间进度</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="tasks" id="task"}
                    <tr>
                        <td>{$task.create_time|date="Ymd",###}-{$task.id}</td>
                        <td>{$task.project_name}</td>
                        <td>{$task.task_order}</td>
                        <td> <a href="{:url('index/task/task_des')}?id={$task.id}&mid={$mid}">{$task.task_name}</a></td>
                        <td>
                            {if condition="$task.task_status eq 0"/}
                            等待开始
                            {elseif condition="$task.task_status eq 1"/}
                            已开始
                            {elseif condition="$task.task_status eq 2"/}
                            完成
                            {/if}
                        </td>
                        <td>{$task.create_name}</td>
                        <td>{$task.to_name}</td>
                        <td>
                            <?php
                             echo $num1=number_format((strtotime($task['task_end'])-strtotime($task['task_start']))/86400,1);
                            ?>天
                        </td>
                        <td>
                            <?php
                                $num2=number_format((time()-strtotime($task['task_start']))/86400,1);
                                echo $num2 >0 ?$num2 :0;
                            ?>天
                        </td>
                        <td>
                            <?php
                                $num3 =number_format((strtotime($task['task_end'])-time())/86400,1);
                                echo   $num2 >0?$num3:$num1;
                            ?>天
                        </td>
                        <td>
                            <?php
                            $width = $num2 >0? number_format(($num2/$num1)*100,2):0;
                            ?>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: <?php echo $width; ?>%;"></div><?php echo $width; ?>%
                            </div>
                        </td>
                        <td>
                            {if condition="$user_info['uid'] eq $task.create_uid"/}
                            <a href="javascript:void (0);" onclick="delete_sure('确定要删除此任务吗？','{:url(\'index/task/task_del\')}?id={$task.id}&cd={$task.create_uid}')" class="btn btn-sm btn-icon btn-pure btn-outline" title="删除"><i class="mdi mdi-close" aria-hidden="true"></i></a>
                            <a href="{:url('index/task/task_edit')}?id={$task.id}&cd={$task.create_uid}" class="btn btn-sm btn-icon btn-pure btn-outline" title="修改"><i class="mdi mdi-border-color" aria-hidden="true"></i></a>
                            {/if}
                            <a href="{:url('index/task/task_des')}?id={$task.id}&mid={$mid}" class="btn btn-sm btn-icon btn-pure btn-outline" title="查看详情"><i class="mdi mdi-account-search" aria-hidden="true"></i></a>
                            {if condition="$user_info['uid'] eq $task.to_uid"/}

                            {if condition="$task.task_status eq 0"/}
                            <button disabled="disabled" class="btn btn-sm btn-icon btn-pure btn-outline " title="添加工时"  ><i class="mdi mdi-alarm-plus"  aria-hidden="true"></i></button>
                            <button type="button"  class="btn btn-sm btn-icon btn-pure btn-outline "  onclick="start_send_tid('{$task.id}')" data-toggle="modal" data-target="#begin_task" ><i class="mdi mdi-arrow-right-drop-circle" data-original-title="开始任务" data-toggle="tooltip" aria-hidden="true"></i></button>
                            {else/}
                            <button type="button"  class="btn btn-sm btn-icon btn-pure btn-outline "  onclick="time_send_tid('{$task.id}','{$task.create_uid}')" data-toggle="modal" data-target="#add_time" ><i class="mdi mdi-alarm-plus" data-original-title="添加工时" data-toggle="tooltip" aria-hidden="true"></i></button>
                            <button disabled="disabled" class="btn btn-sm btn-icon btn-pure btn-outline" title="开始任务"><i class="mdi mdi-arrow-right-drop-circle" aria-hidden="true"></i></button>
                            {/if}

                            {if condition="$task.task_status eq 1"/}
                                <button type="button"  class="btn btn-sm btn-icon btn-pure btn-outline "  onclick="end_send_tid('{$task.id}')" data-toggle="modal" data-target="#end_task" ><i class="mdi mdi-checkbox-marked" data-original-title="完成任务" data-toggle="tooltip" aria-hidden="true"></i></button>
                            {else/}
                                <button disabled="disabled" class="btn btn-sm btn-icon btn-pure btn-outline " title="完成任务"><i class="mdi mdi-checkbox-marked" aria-hidden="true"></i></button>
                            {/if}
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="14">
                            <div class="text-right">
                                <ul class="pagination">
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                {include file="task/common_task_begin"/}
                {include file="task/common_add_time"/}
                {include file="task/common_task_end"/}

            </div>
        </div>

    </div>
</div>
{/block}
