{extend name="layout"/}
{block name="title"/}
<title>任务详情 - 客户管理系统</title>
{/block}
{block name="css"/}

{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">任务详情</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item active">任务详情</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">任务详情</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-body">
                        <h3 class="card-title">基础信息</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    任务名：{$task.task_name}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    任务描述：{$task.task_describe}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    审核标准：{$task.audit_standard}
                                </div>
                            </div>
                            {if condition="$task.file"/}
                            <div class="col-md-12">
                                <div class="form-group">
                                    附件：<a href="{:url('index/task/download_file')}?p={$task.file}" class="downloadFile">下载</a>
                                </div>
                            </div>
                            {/if}
                            {if condition="$task.complete_file"/}
                            <div class="col-md-12">
                                <div class="form-group">
                                    完成附件：<a href="{:url('index/task/download_file')}?p={$task.complete_file}"  class="downloadFile">下载</a>
                                </div>
                            </div>
                            {/if}
                        </div>


                        <h3 class="card-title">历史记录</h3>
                        <hr>
                        {volist name="task_history" id="history" key="k"}
                        <div class="col-md-12">
                            <div class="form-group">
                               {$k}、   {$history.title}
                            </div>
                        </div>
                        {/volist}
                        <h3 class="card-title">工时记录</h3>
                        <hr>
                        {volist name="task_time" id="time" key="v"}
                        <div class="col-md-12">
                            <div class="form-group">
                                {$v}、 {$time.start_time} - {$time.end_time} &nbsp;&nbsp;&nbsp;&nbsp; {$time.title}   &nbsp;&nbsp;&nbsp;&nbsp;{if condition="$time.file"/}
                                <a href="{:url('index/task/download_file')}?p={$time.file}" class="downloadFile">附件下载</a>{/if}
                            </div>
                        </div>
                        {/volist}

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
