{extend name="layout"/}
{block name="title"/}
<title>任务详情 - 客户管理系统</title>
{/block}
{block name="css"/}

{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">任务详情</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item active">任务详情</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">任务详情</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-body">
                        <h3 class="card-title">基础信息</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    任务名：{$task.task_name}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    任务描述：{$task.task_describe}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    审核标准：{$task.audit_standard}
                                </div>
                            </div>
                            {if condition="$task.file"/}
                            <div class="col-md-12">
                                <div class="form-group">
                                    附件：<a href="{:url('index/task/download_file')}?p={$task.file}" class="downloadFile">下载</a>
                                </div>
                            </div>
                            {/if}
                            {if condition="$task.complete_file"/}
                            <div class="col-md-12">
                                <div class="form-group">
                                    完成附件：<a href="{:url('index/task/download_file')}?p={$task.complete_file}"  class="downloadFile">下载</a>
                                </div>
                            </div>
                            {/if}
                        </div>


                        <h3 class="card-title">历史记录</h3>
                        <hr>
                        {volist name="task_history" id="history" key="k"}
                        <div class="col-md-12">
                            <div class="form-group">
                               {$k}、   {$history.title}
                                {if condition="$history.after_value"/}
                               <p style="margin-left: 30px;line-height: 30px;"><samll>把{$history.before_value}改成{$history.after_value}</samll></p>
                                {/if}
                            </div>
                        </div>
                        {/volist}

                        <h3 class="card-title">工时记录</h3>
                        <hr>
                        {volist name="task_time" id="time" key="v"}
                        <div class="col-md-12">
                            <div class="form-group">
                                {$v}、 {$time.start_time} - {$time.end_time} &nbsp;&nbsp;&nbsp;&nbsp; {$time.title}   &nbsp;&nbsp;&nbsp;&nbsp;{if condition="$time.file"/}
                                <a href="{:url('index/task/download_file')}?p={$time.file}" class="downloadFile">附件下载</a>{/if}
                            </div>
                        </div>
                        {/volist}
                        <div>
                            {if condition="$user_info['uid'] eq $task.create_uid"/}
                            <a href="javascript:void (0);" onclick="delete_sure('确定要删除此任务吗？','{:url(\'index/task/task_del\')}?id={$task.id}&cd={$task.create_uid}')" class="btn btn-primary" title="删除"><i class="mdi mdi-close" aria-hidden="true"></i></a>
                            <a href="{:url('index/task/task_edit')}?id={$task.id}&cd={$task.create_uid}" class="btn btn-info" title="修改"><i class="mdi mdi-border-color" aria-hidden="true"></i></a>
                            {/if}
                            {if condition="$user_info['uid'] eq $task.to_uid"/}

                            {if condition="$task.task_status eq 0"/}
                            <button disabled="disabled" class="btn btn-default " title="添加工时"  ><i class="mdi mdi-alarm-plus"  aria-hidden="true"></i></button>
                            <button type="button"  class="btn btn-warning "  onclick="start_send_tid('{$task.id}')" data-toggle="modal" data-target="#begin_task" ><i class="mdi mdi-arrow-right-drop-circle" data-original-title="开始任务" data-toggle="tooltip" aria-hidden="true"></i></button>
                            {else/}
                            <button type="button"  class="btn btn-primary "  onclick="time_send_tid('{$task.id}','{$task.create_uid}')" data-toggle="modal" data-target="#add_time" ><i class="mdi mdi-alarm-plus" data-original-title="添加工时" data-toggle="tooltip" aria-hidden="true"></i></button>
                            <button disabled class="btn btn-default" title="开始任务"><i class="mdi mdi-arrow-right-drop-circle" aria-hidden="true"></i></button>
                            {/if}

                            {if condition="$task.task_status eq 1"/}
                            <button type="button"  class="btn btn-success "  onclick="end_send_tid('{$task.id}')" data-toggle="modal" data-target="#end_task" ><i class="mdi mdi-checkbox-marked" data-original-title="完成任务" data-toggle="tooltip" aria-hidden="true"></i></button>
                            {else/}
                            <button disabled="disabled" class="btn btn-default " title="完成任务"><i class="mdi mdi-checkbox-marked" aria-hidden="true"></i></button>
                            {/if}
                            {/if}
                            <p class="p-t-20">权限说明：</p>
                            <p>1、只有创建者可以删除修改任务。</p>
                            <p>2、只有执行者者可以开始任务，完成任务，添加工时。</p>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {include file="task/common_task_begin"/}
    {include file="task/common_add_time"/}
    {include file="task/common_task_end"/}
</div>
{/block}
