{extend name="layout"/}
{block name="title"}
<title>任务列表 - 客户管理系统</title>
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">{$title}</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item go_back">客户和项目</li>
        <li class="breadcrumb-item active">{$title}</li>
    </ol>
</div>
{/block}

{block name="detail"/}
{include file="task/common_task_list"/}
{/block}
