{extend name="layout"/}
{block name="title"/}
<title>添加任务 - 客户管理系统</title>
{/block}
{block name="css"/}
<link href="__STATIC__/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<!-- Page plugins css -->
<link href="__STATIC__/assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
<!-- Color picker plugins css -->
<link href="__STATIC__/assets/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="__STATIC__/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<!-- Daterange picker plugins css -->
<link href="__STATIC__/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="__STATIC__/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">添加任务</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item active">添加任务</li>
    </ol>
</div>
{/block}
{block name="detail"/}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">添加任务</h4>
            </div>
            <div class="card-body">
                <form action="{:url('index/task/save_task')}?mid={$mid}" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <h3 class="card-title">基础信息</h3>
                        <hr>
                        {if condition="isset($project)"/}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>项目名</label>
                                    <input type="text"  class="form-control project_name"  value="{$project.project_name}"  disabled>
                                    <input type="hidden"  class="form-control"  name="project_id" value="{$project.id}" required >
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                        </div>
                        {else/}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>项目名</label>
                                    <input type="text"  class="form-control project_name"  placeholder="请填写项目名"  required autocomplete="off">
                                    <input type="hidden"  class="form-control"  name="project_id" required >
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-12" id="project_display" style="color: red;" >

                            </div>
                        </div>
                        {/if}
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>任务名</label>
                                    <input type="text"  class="form-control" placeholder="请填写任务名" name="task_name"  required >
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">任务类别</label>
                                    <select class="form-control"  tabindex="1" name="task_type">
                                        <option value="">请选择</option>
                                        {volist name="task_type" id= "type"}
                                        <option value="{$type}">{$type}</option>
                                        {/volist}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>

                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label class="control-label">开始时间</label>
                                    <!--<input type="date"  class="form-control"  name="task_start">-->
                                    <!--<small class="form-control-feedback"> </small>-->
                                    <!--<label class="m-t-40">Default Material Date Timepicker</label>-->
                                    <input type="text" id="date-format" class="form-control" name="task_start" placeholder="eg:2018-05-23 18:23:42">
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label class="control-label">结束时间</label>
                                    <!--<input type="date"  class="form-control"  name="task_end">-->
                                    <input type="text" id="date-format1" class="form-control" name="task_end" placeholder="eg:2018-05-23 18:23:42">
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label class="control-label">优先级</label>
                                    <select class="form-control"  tabindex="1" name="task_order">
                                        <option value="">请选择</option>
                                        {for start="1" end= "11"}
                                        <option value="{$i}">{$i}</option>
                                        {/for}
                                    </select>
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-success">
                                    <label class="control-label">提醒方式</label>
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            <input  name="message" type="checkbox" value="1" checked class="custom-control-input" >
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">系统消息</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            <input  name="is_send_mail" type="checkbox" value="1" checked class="custom-control-input" >
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">发送邮件</span>
                                        </label>
                                    </div>
                                    <small class="form-control-feedback"></small> </div>
                            </div>

                        </div>
                        <div class=" row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label"><span class="text-danger"> * </span>指派给</label>
                                    <input type="text"  class="form-control user_name"  placeholder="请填写"  required autocomplete="off">
                                    <input type="hidden"  class="form-control"  name="uid" required >
                                    <small class="form-control-feedback"> </small>
                                </div>
                            </div>
                            <div class="col-md-12" id="user_display" style="color: red;" >

                            </div>
                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">任务描述</label>
                                    <textarea  rows="6" class="form-control" placeholder="请填写" name="task_describe"></textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">审核标准</label>
                                    <textarea  rows="6" class="form-control" placeholder="请填写备注" name="audit_standard"></textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">附件上传</label>
                                    <label class="custom-file d-block">
                                        <input type="file"  class="custom-file-input" name="file">
                                        <span class="custom-file-control">点击上传</span>
                                    </label>
                                    <small class="form-control-feedback"></small> </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> 保存</button>
                            <button type="reset" class="btn btn-inverse">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file="leads/leads_common_script"/}
{/block}
{block name="footer_js"/}

<!-- Plugins for this page -->
<!-- ============================================================== -->
<!-- Plugin JavaScript -->

<script src="__STATIC__/assets/plugins/moment/moment.js"></script>
<script src="__STATIC__/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Clock Plugin JavaScript -->
<script src="__STATIC__/assets/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="__STATIC__/assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
<script src="__STATIC__/assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
<script src="__STATIC__/assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="__STATIC__/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Date range Plugin JavaScript -->
<script src="__STATIC__/assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="__STATIC__/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script>
    // MAterial Date picker
    $('#mdate').bootstrapMaterialDatePicker({ weekStart : 0, time: false });
    $('#timepicker').bootstrapMaterialDatePicker({ format : 'HH:mm', time: true, date: false });
    //$('#date-format').bootstrapMaterialDatePicker({ format : 'dddd DD MMMM YYYY - HH:mm' });
    $('#date-format').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD HH:mm:ss' });
    $('#date-format1').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD HH:mm:ss' });

    $('#min-date').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', minDate : new Date() });
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
    }).find('input').change(function() {
        console.log(this.value);
    });
    $('#check-minutes').click(function(e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show').clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker
    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    // Daterange picker
    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'MM/DD/YYYY',
        minDate: '06/01/2015',
        maxDate: '06/30/2015',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });
</script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="__STATIC__/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

{/block}