<div class="row p-t-20">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label"><span class="text-danger"> * </span>联系人</label>
            <input type="text"  class="form-control" placeholder="请填写联系人姓名" name="contact_name" required>
            <small class="form-control-feedback"> </small> </div>
    </div>
    <!--/span-->
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">职位</label>
            <input type="text"  class="form-control" placeholder="请填写联系人职位" name="position" >
            <small class="form-control-feedback"> </small> </div>
    </div>
    <!--/span-->
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">性别</label>
            <div class="form-check">
                <label class="custom-control custom-radio">
                    <input id="radio1" name="radio_sex" type="radio" checked class="custom-control-input" value="男">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">男</span>
                </label>
                <label class="custom-control custom-radio">
                    <input id="radio2" name="radio_sex" type="radio" class="custom-control-input" value="女">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">女</span>
                </label>
            </div>
            <small class="form-control-feedback"> </small> </div>
    </div>
    <!--/span-->
</div>
<div class="row p-t-20">
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">电话</label>
            <input type="text"  class="form-control" placeholder="请填写联系人电话" name="contact_mobile" >
            <small class="form-control-feedback"> </small> </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">邮箱</label>
            <input type="email"  class="form-control" placeholder="请填写联系人邮箱" name="contact_email">
            <small class="form-control-feedback"> </small> </div>
    </div>
    <!--/span-->
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">QQ</label>
            <input type="text"  class="form-control" placeholder="请填写联系人QQ" name="contact_qq">
            <small class="form-control-feedback"> </small> </div>
    </div>
    <div class="col-md-4">
        <div class="form-group has-danger">
            <label class="control-label">微信</label>
            <input type="text"  class="form-control" placeholder="请填写联系人微信" name="contact_wechat">
            <small class="form-control-feedback"> </small> </div>
    </div>


    <!--/span-->
</div>