{extend name="layout"/}
{block name="title"/}
    <title>客户列表 - 客户管理 - 客户管理系统</title>
{/block}
{block name="breadcrumb"/}
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">工作台</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
            <li class="breadcrumb-item active">客户列表</li>
        </ol>
    </div>
 {/block}
{block name="detail"/}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">客户列表</h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="m-t-40">
                        <div class="d-flex">
                            <div class="mr-auto">
                                <div class="form-group">
                                    <a  class="btn btn-primary btn-sm" href="{:url('index/customer/customer_add')}?mid={$mid}">
                                        <i class="ace-icon fa fa-plus " aria-hidden="true"> </i> 添加客户
                                    </a>
                                    <a  class="btn btn-info btn-sm" href="{:url('index/customer/customer_recycle')}?mid={$mid}">
                                        <i class="ace-icon fa fa-recycle" aria-hidden="true"></i> 客户回收站
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table  class="table ">
                        <thead>
                        <tr>
                           {include file="customer/customer_common_search"/}
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="data" id="vo" key="k"}
                            <tr>
                                <!--<td>{$k}</td>-->
                                <td>{$vo.number}</td>
                                <td>{$vo.customer_name}</td>
                                <td>{$vo.customer_status_1}</td>
                                <td>{$vo.customer_status_2}</td>
                                <td><span class="label label-table label-success">{$vo.contact_name}</span></td>
                                <!--<td>{$vo.position}</td>-->
                                <!--<td>{$vo.sex==0?"男":"女"}</td>-->
                                <td>{$vo.mobile}</td>
                                <!--<td>{$vo.email}</td>-->
                                <!--<td>{$vo.qq}</td>-->
                                <td>{$vo.chinese_name}</td>
                                <td>
                                    <a href="javascript:void (0);" onclick="delete_sure('客户信息是重要信息，确定要删除吗？', '{:url(\'index/index/customer/customer_del\')}?id={$vo.id}&mid={$mid}')" class="btn btn-sm btn-icon btn-pure btn-outline " title="删除" ><i class="ti-close"  aria-hidden="true"></i></a>
                                    <a href="{:url('index/index/customer/customer_edit')}?id={$vo.id}&mid={$mid}" class="btn btn-sm btn-ico btn-pure btn-outline"  title="修改"  ><i class="ti-pencil" aria-hidden="true"></i></a>
                                    <a href="{:url('index/index/customer/customer_des')}?id={$vo.id}&mid={$mid}" class="btn btn-sm btn-ico btn-pure btn-outline"  title="查看详情" ><i class="ti-search"  aria-hidden="true"></i></a>
                                    <a href="{:url('index/index/customer/customer_project')}?id={$vo.id}&mid={$mid}" class="btn btn-sm btn-ico btn-pure btn-outline"  title="查看客户项目" ><i class="ti-list"  aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="8">
                                {$data->render()}
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>

{/block}
