{extend name="layout"/}
{block name="title"}
<title>添加项目 - 客户管理系统</title>
{/block}
{block name="breadcrumb"}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">工作台</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item go_back">客户和项目</li>
        <li class="breadcrumb-item active">客户详情</li>
    </ol>
</div>
{/block}
{block name="detail"}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">客户详情</h4>
            </div>
            <div class="card-body">
                <form>
                    <input type="hidden" name="customer_id" value="{$customer.id}">
                    <input type="hidden" name="contact_id" value="{$customer.contact_id}">
                    <div class="form-body">
                        <h3 class="card-title">客户信息</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">客户全称</label>
                                    <input type="text"  class="form-control" value="{$customer.customer_name}" name="customer_name" disabled >
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group has-danger">
                                    <label class="control-label">客户行业</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" name="industry" disabled>
                                        <option value="{$customer.industry}" selected>{$customer.industry}</option>
                                    </select>
                                    <small class="form-control-feedback"></small> </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-success">
                                    <label class="control-label">公司性质</label>
                                    <div class="form-check">
                                        {volist name="data['company_nature']" id="company_nature" key="k"}
                                        <label class="custom-control custom-radio">
                                            <input id="radio{$k}" name="company_nature" value="{$customer.company_nature}" type="radio" checked class="custom-control-input" disabled>
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">{$company_nature}</span>
                                        </label>
                                        {/volist}
                                    </div>
                                    <small class="form-control-feedback"></small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">年营业额</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" name="annual_turnover" disabled>
                                        <option value="{$customer.annual_turnover}" selected >{$customer.annual_turnover}</option>
                                    </select>
                                    <small class="form-control-feedback"></small>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">客户状态一级</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" name="customer_status_1" disabled>
                                        <option value="{$customer.customer_status_1}" selected>{$customer.customer_status_1}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">客户状态二级</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" name="customer_status_2" disabled>
                                        <option value="{$customer.customer_status_2}">{$customer.customer_status_2}</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <h3 class="card-title">首要联系人信息</h3>
                        <hr>
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">联系人</label>
                                    <input type="text"  class="form-control" value="{$customer.contact_name}" name="contact_name" disabled>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">职位</label>
                                    <input type="text"  class="form-control" value="{$customer.position}" name="position" disabled>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">性别</label>
                                    <div class="form-check">
                                        <label class="custom-control custom-radio">
                                            {if condition="$customer.sex eq 0"}
                                            <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="男" checked disabled>
                                            {else/}
                                            <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="男" disabled>
                                            {/if}
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">男</span>
                                        </label>
                                        <label class="custom-control custom-radio">
                                            {if condition="$customer.sex eq 1"}
                                            <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="女" checked disabled>
                                            {else/}
                                            <input id="radio1" name="radio_sex" type="radio"  class="custom-control-input" value="女" disabled>
                                            {/if}
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">女</span>
                                        </label>
                                    </div>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">电话</label>
                                    <input type="text"  class="form-control" value="{$customer.mobile}" name="contact_mobile" disabled>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">邮箱</label>
                                    <input type="email"  class="form-control" value="{$customer.email}" name="contact_email" disabled>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">QQ</label>
                                    <input type="text"  class="form-control" value="{$customer.qq}" name="contact_qq" disabled>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="control-label">微信</label>
                                    <input type="text"  class="form-control" value="{$customer.wechat}" name="contact_wechat" disabled>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-12">
                                <div class="form-group has-danger">
                                    <label class="control-label">备注</label>
                                    <textarea  rows="6" class="form-control" placeholder="请填写备注" name="note" disabled>{$customer.note}</textarea>
                                    <small class="form-control-feedback"> </small> </div>
                            </div>

                            <!--/span-->
                        </div>
                        <!--/row-->

                    </div>
                    <!--<div class="form-actions">-->
                        <!--<a href="{:url('index/customer/customer_edit')}?id={$customer.id}" class="btn btn-inverse">修改</a>-->
                    <!--</div>-->
                </form>
            </div>
        </div>
    </div>
</div>
{/block}
