<div style="margin-bottom: 40px;" >
    <form method="get">
        <input type="hidden"  name="name" {if condition="isset($name)"/} value="{$name}" {/if}>
        <div style="margin: 0 auto;">
            <div class="p-t-10" style="min-height: 80px;">
                <div style="width: 25%;margin-right: 5%;float: left;" >
                    <p>客户类别</p>
                    <select name="customer_status_1" class="form-control">
                        <option value="">请选择</option>
                        {volist name="entity['customer_status_1']" id="customer_status_1"/}
                            {if condition="isset($status1) and $status1 eq $customer_status_1"/}
                                <option value="{$customer_status_1}" selected>{$customer_status_1}</option>
                            {else/}
                                <option value="{$customer_status_1}">{$customer_status_1}</option>
                            {/if}
                        {/volist}
                    </select>
                </div>
                <div style="width: 25%;margin-right: 5%;float: left;" >
                    <p>客户状态</p>
                    <select name="customer_status_2" class="form-control">
                        <option value="">请选择</option>
                        {volist name="entity['customer_status_2']" id="customer_status_2"/}
                            {if condition="isset($status2) and $status2 eq $customer_status_2"/}
                                <option value="{$customer_status_2}" selected>{$customer_status_2}</option>
                            {else/}
                                <option value="{$customer_status_2}">{$customer_status_2}</option>
                            {/if}
                        {/volist}
                    </select>
                </div>
                <div style="width: 25%;margin-right: 5%;float: left;" >
                    <p>其他</p>
                    <input type="text" placeholder="搜索" name="keyword" {if condition="isset($keyword)"/} value="{$keyword}" {/if}  class="form-control" autocomplete="off" >
                </div>
                <div style="float: left;padding-top: 40px;" >
                    <input type="submit" value="搜索" class="btn btn-success ">
                </div>
            </div>
        </div>
    </form>
</div>

<th><div class="p-b-20 ">编号 </div></th>
<th><div class="p-b-20 ">客户全称 </div></th>
<th><div class="p-b-20 ">客户类别 </div></th>
<th><div class="p-b-20 ">客户状态 </div></th>
<th><div class="p-b-20 " >联系人 </div></th>
<th><div class="p-b-20 ">电话 </div></th>
<th><div class="p-b-20 ">创建者 </div></th>
<th><div class="p-b-20 ">操作 </div></th>