<th>
    <div class="p-b-20 ">编号 </div>
    <form method="get" >
        <input type="text" placeholder="请输入-后面数字" name="id_info" {if condition="isset($id_info)"/} value="{$id_info}" {/if} class="form-control" autocomplete="off" >
        <input type="hidden"  name="customer_name" {if condition="isset($customer_name)"/} value="{$customer_name}" {/if} >
        <input type="hidden"  name="customer_status_1" {if condition="isset($customer_status_1)"/} value="{$customer_status_1}" {/if}>
        <input type="hidden" name="customer_status_2" {if condition="isset($customer_status_2)"/} value="{$customer_status_2}" {/if}>
        <input type="hidden"  name="contact_name" {if condition="isset($contact_name)"/} value="{$contact_name}" {/if}>
        <input type="hidden"  name="contact_mobile" {if condition="isset($contact_mobile)"/} value="{$contact_mobile}" {/if}>
        <input type="hidden"  name="create_name" {if condition="isset($create_name)"/} value="{$create_name}" {/if}>
        <input type="hidden"  name="name" {if condition="isset($name)"/} value="{$name}" {/if}>
    </form>
</th>
<th>
    <div class="p-b-20 ">客户全称 </div>
    <form method="get" >
        <input type="hidden"  name="id_info" {if condition="isset($id_info)"/} value="{$id_info}" {/if}>
        <input type="text" placeholder="搜索" name="customer_name" {if condition="isset($customer_name)"/} value="{$customer_name}" {/if} class="form-control" autocomplete="off" >
        <input type="hidden"  name="customer_status_1" {if condition="isset($customer_status_1)"/} value="{$customer_status_1}" {/if}>
        <input type="hidden" name="customer_status_2" {if condition="isset($customer_status_2)"/} value="{$customer_status_2}" {/if}>
        <input type="hidden"  name="contact_name" {if condition="isset($contact_name)"/} value="{$contact_name}" {/if}>
        <input type="hidden"  name="contact_mobile" {if condition="isset($contact_mobile)"/} value="{$contact_mobile}" {/if}>
        <input type="hidden"  name="create_name" {if condition="isset($create_name)"/} value="{$create_name}" {/if}>
        <input type="hidden"  name="name" {if condition="isset($name)"/} value="{$name}" {/if}>
    </form>
</th>
<th>
    <div class="p-b-20 ">客户类别 </div>
    <form method="get" >
        <input type="hidden" name="id_info" {if condition="isset($id_info)"/} value="{$id_info}" {/if}>
        <input type="hidden"  name="customer_name" {if condition="isset($customer_name)"/} value="{$customer_name}" {/if} >
        <input type="text" placeholder="搜索" name="customer_status_1" {if condition="isset($customer_status_1)"/} value="{$customer_status_1}" {/if} class="form-control" autocomplete="off" >
        <input type="hidden" name="customer_status_2" {if condition="isset($customer_status_2)"/} value="{$customer_status_2}" {/if}>
        <input type="hidden"  name="contact_name" {if condition="isset($contact_name)"/} value="{$contact_name}" {/if}>
        <input type="hidden"  name="contact_mobile" {if condition="isset($contact_mobile)"/} value="{$contact_mobile}" {/if}>
        <input type="hidden"  name="create_name" {if condition="isset($create_name)"/} value="{$create_name}" {/if}>
        <input type="hidden"  name="name" {if condition="isset($name)"/} value="{$name}" {/if}>
    </form>
</th>
<th>
    <div class="p-b-20 ">客户状态 </div>
    <form method="get" >
        <input type="hidden" name="id_info" {if condition="isset($id_info)"/} value="{$id_info}" {/if}>
        <input type="hidden"  name="customer_name" {if condition="isset($customer_name)"/} value="{$customer_name}" {/if} >
        <input type="hidden"  name="customer_status_1" {if condition="isset($customer_status_1)"/} value="{$customer_status_1}" {/if} >
        <input type="text" placeholder="搜索" name="customer_status_2" {if condition="isset($customer_status_2)"/} value="{$customer_status_2}" {/if} class="form-control" autocomplete="off" >
        <input type="hidden"  name="contact_name" {if condition="isset($contact_name)"/} value="{$contact_name}" {/if}>
        <input type="hidden"  name="contact_mobile" {if condition="isset($contact_mobile)"/} value="{$contact_mobile}" {/if}>
        <input type="hidden"  name="create_name" {if condition="isset($create_name)"/} value="{$create_name}" {/if}>
        <input type="hidden"  name="name" {if condition="isset($name)"/} value="{$name}" {/if}>
    </form>
</th>
<th>
    <div class="p-b-20 " >联系人 </div>
    <form method="get" >
        <input type="hidden" name="id_info" {if condition="isset($id_info)"/} value="{$id_info}" {/if}>
        <input type="hidden"  name="customer_name" {if condition="isset($customer_name)"/} value="{$customer_name}" {/if} >
        <input type="hidden"  name="customer_status_1" {if condition="isset($customer_status_1)"/} value="{$customer_status_1}" {/if}>
        <input type="hidden"  name="customer_status_2" {if condition="isset($customer_status_2)"/} value="{$customer_status_2}" {/if}  >
        <input type="text"  placeholder="搜索" name="contact_name" {if condition="isset($contact_name)"/} value="{$contact_name}" {/if} class="form-control" autocomplete="off">
        <input type="hidden"  name="contact_mobile" {if condition="isset($contact_mobile)"/} value="{$contact_mobile}" {/if}>
        <input type="hidden"  name="create_name" {if condition="isset($create_name)"/} value="{$create_name}" {/if}>
        <input type="hidden"  name="name" {if condition="isset($name)"/} value="{$name}" {/if}>
    </form>
</th>
<th>
    <div class="p-b-20 ">电话 </div>
    <form method="get" >
        <input type="hidden" name="id_info" {if condition="isset($id_info)"/} value="{$id_info}" {/if}>
        <input type="hidden"  name="customer_name" {if condition="isset($customer_name)"/} value="{$customer_name}" {/if} >
        <input type="hidden"  name="customer_status_1" {if condition="isset($customer_status_1)"/} value="{$customer_status_1}" {/if}>
        <input type="hidden" name="customer_status_2" {if condition="isset($customer_status_2)"/} value="{$customer_status_2}" {/if}  >
        <input type="hidden"  name="contact_name" {if condition="isset($contact_name)"/} value="{$contact_name}" {/if} >
        <input type="text"  placeholder="搜索" name="contact_mobile" {if condition="isset($contact_mobile)"/} value="{$contact_mobile}" {/if} class="form-control" autocomplete="off" >
        <input type="hidden"  name="create_name" {if condition="isset($create_name)"/} value="{$create_name}" {/if}>
        <input type="hidden"  name="name" {if condition="isset($name)"/} value="{$name}" {/if}>
    </form>
</th>
<th>
    <div class="p-b-20 ">创建者 </div>
    <form method="get">
        <input type="hidden" name="id_info" {if condition="isset($id_info)"/} value="{$id_info}" {/if}>
        <input type="hidden"  name="customer_name" {if condition="isset($customer_name)"/} value="{$customer_name}" {/if} >
        <input type="hidden"  name="customer_status_1" {if condition="isset($customer_status_1)"/} value="{$customer_status_1}" {/if}>
        <input type="hidden"  name="customer_status_2" {if condition="isset($customer_status_2)"/} value="{$customer_status_2}" {/if}>
        <input type="hidden"  name="contact_name" {if condition="isset($contact_name)"/} value="{$contact_name}" {/if}>
        <input type="hidden"  name="contact_mobile" {if condition="isset($contact_mobile)"/} value="{$contact_mobile}" {/if}>
        <input type="text" placeholder="搜索" name="create_name" {if condition="isset($create_name)"/} value="{$create_name}" {/if}  class="form-control" autocomplete="off" >
        <input type="hidden"  name="name" {if condition="isset($name)"/} value="{$name}" {/if}>
    </form>
</th>

<th>
    <div class="p-b-20 ">操作 </div>
    <form method="get" >
        <input type="text" placeholder="搜索"  class="form-control" autocomplete="off" disabled>
    </form>
</th>