{extend name="layout"/}
{block name="title"}
<title>个人中心 - 系统设置 - 客户管理系统</title>
{/block}
{block name="breadcrumb"/}
<div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">工作台</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/index/index/index')}">首页</a></li>
        <li class="breadcrumb-item">系统设置</li>
        <li class="breadcrumb-item active">个人中心</li>
    </ol>
</div>
{/block}
{block name="detail"/}
    {include file="user/profile_common"/}
{/block}

